---
layout: default
---

{% include slider.html content="<h2>Accepted papers</h2>"%}

<!-- Content -->
<div class="block">
  <div class="container">
    <div class="row">

      <div class="col-md-9">
        <section id="main-content">
          <div class="section-content">
            <header><h2>Accepted papers</h2></header>
              <h3>We have a selection of 35 papers that will be presented during the conference. The detailed program is coming up soon.</h3>

              <h4 class="talk-title">Gosig: A Scalable and High-Performance Byzantine Consensus System for Consortium Blockchains on Wide Area Network</h4>
                <p class="course-meta" style="line-height:18px;">Peilun Li, Guosai Wang(Tsinghua University); Xiaoqi Chen(Princeton); Fan Long(University of Toronto); Wei Xu(Tsinghua University)</p>
              <h4 class="talk-title">T-Lease: A Trusted Lease Primitive for Distributed Systems</h4>
                <p class="course-meta" style="line-height:18px;">Bohdan Trach, Rasha Faqeh, Oleksii Oleksenko, Wojciech Ozga(TU Dresden); Pramod Bhatotia(University of Edinburgh); Christof Fetzer(TU Dresden)</p>
              <h4 class="talk-title">Leveraging Application Classes to Save Power in Highly-Utilized Data Centers</h4>
                <p class="course-meta" style="line-height:18px;">Kostis Kaffes(Stanford University); Dragos Sbirlea, Yiyan Lin, David Lo(Google); Christos Kozyrakis(Stanford University, Google)</p>
              <h4 class="talk-title">Particle: Ephemeral Endpoints for Serverless Networking</h4>
                <p class="course-meta" style="line-height:18px;">Shelby Thomas, Lixiang Ao, Geoffrey M. Voelker, George Porter(UC San Diego)</p>
              <h4 class="talk-title">MetalMind: A Programming Framework for Serverless Computing</h4>
                <p class="course-meta" style="line-height:18px;">Wen Zhang, Vivian Fang(UC Berkeley); Aurojit Panda(NYU); Scott Shenker(UC Berkeley/ICSI)</p>
              <h4 class="talk-title">Making Edge-Computing Resilient</h4>
                <p class="course-meta" style="line-height:18px;">Yotam Harchol(EPFL); Aisha Mushtaq, Vivian Fang(UC Berkeley); James McCauley(UC Berkeley, ICSI); Aurojit Panda(NYU); Scott Shenker(UC Berkeley, ICSI)</p>
              <h4 class="talk-title">Concury: A Fast and Light-weight Software Cloud Load Balancer</h4>
                <p class="course-meta" style="line-height:18px;">Shouqian Shi(University of California Santa Cruz); Ye Yu(Google); Minghao Xie(University of California Santa Cruz); Xin Li(University of California Santa Cruz and VMWare); Xiaozhou Li(Celer Network); Ying Zhang(Facebook); Chen Qian(University of California Santa Cruz)</p>
              <h4 class="talk-title">Characterizing Serverless Platforms with ServerlessBench</h4>
                <p class="course-meta" style="line-height:18px;">Tianyi Yu, Qingyuan Liu, Dong Du, Yubin Xia, Binyu Zang(Shanghai Jiao Tong University); Ziqian Lu, Pingchao Yang, Chenggang Qin(Ant Financial); Haibo Chen(Shanghai Jiao Tong University)</p>
              <h4 class="talk-title">PaGraph: Scaling GNN Training on Large Graphs via Computation-aware Caching and Partitioning</h4>
                <p class="course-meta" style="line-height:18px;">Zhiqi Lin, Cheng Li(University of Science and Technology of China); Youshan Miao, Yunxin Liu(Microsoft Research); Yinlong Xu(University of Science and Technology of China)</p>
              <h4 class="talk-title">Vessels: Efficient and Scalable Deep Learning Prediction on Trusted Processors</h4>
                <p class="course-meta" style="line-height:18px;">Kyungtae Kim(Purdue University); Chung Hwan Kim, Junghwan Rhee, Xiao Yu, Haifeng Chen(NEC Laboratories America); Dave (Jing) Tian(Purdue University); Byoungyoung Lee(Seoul National University)</p>
              <h4 class="talk-title">Shrec: Bandwidth-Efficient Transaction Relay in High-Throughput Blockchain Systems</h4>
                <p class="course-meta" style="line-height:18px;">Yilin Han(Conflux Foundation); Chenxing Li, Peilun Li(Tsinghua University); Ming Wu(Conflux Foundation); Dong Zhou(Tsinghua University); Fan Long(University of Toronto)</p>
              <h4 class="talk-title">GSLICE: Controlled Spatial Sharing of GPUs for a Scalable Inference Platform</h4>
                <p class="course-meta" style="line-height:18px;">Aditya Dhakal, Sameer G Kulkarni, K.K. Ramakrishnan(University of California, Riverside)</p>
              <h4 class="talk-title">Janus: Latency-Aware Provisioning and Scaling for Prediction Serving Pipelines</h4>
                <p class="course-meta" style="line-height:18px;">Daniel Crankshaw(Microsoft Research); Gur-Eyal Sela(UC Berkeley); Xiangxi Mo(UC Berkeley, Anyscale); Corey Zumar(DataBricks); Ion Stoica, Joseph Gonzalez(UC Berkeley); Alexey Tumanov(Georgia Tech)</p>
              <h4 class="talk-title">LADS: A High-Performance Framework for Serverless Parallel Computing</h4>
                <p class="course-meta" style="line-height:18px;">Benjamin Carver, Jingyuan Zhang, Ao Wang(George Mason University); Ali Anwar(IBM Research); Panruo Wu(University of Houston); Yue Cheng(George Mason University)</p>
              <h4 class="talk-title">Serverless Linear Algebra</h4>
                <p class="course-meta" style="line-height:18px;">Vaishaal Shankar, Karl Krauth, Kailas Vodrahalli, Qifan Pu, Ion Stoica, Ben Recht(UC Berkeley); Jonathan Ragan-Kelley(MIT); Eric Jonas(University of Chicago); Shivaram Venkataraman(University of Wisconsin-Madison)</p>
              <h4 class="talk-title">HangFix: Automatically Fixing Software Hang Bugs for Production Cloud Systems</h4>
                <p class="course-meta" style="line-height:18px;">Jingzhu He(North Carolina State University); Ting Dai(IBM T. J. Watson Research); Xiaohui Gu, Guoliang Jin(North Carolina State University)</p>
              <h4 class="talk-title">ByteSeries : An In-Memory Database for Large-Scale Monitoring Systems</h4>
                <p class="course-meta" style="line-height:18px;">Xuanhua Shi, Zezhao Feng, Kaixi Li(Huazhong University of Science and Technology); Yongluan Zhou(University of Copenhagen); Hai Jin, Yan Jiang(Huazhong University of Science and Technology); Bingsheng He(National University of Singapore); Zhijun Ling, Xin Li(Bytedance Inc.)</p>
              <h4 class="talk-title">High availability in cheap distributed key value storage</h4>
                <p class="course-meta" style="line-height:18px;">Thomas Kim, Daniel L.-K. Wong, Gregory R. Ganger(Carnegie Mellon University); Michael Kaminsky(BrdgAI / Carnegie Mellon University); David G. Andersen(Carnegie Mellon University)</p>
              <h4 class="talk-title">BAOVERLAY: A Block-Accessible Overlay File System for Fast and Efficient Container Storage</h4>
                <p class="course-meta" style="line-height:18px;">Yu Sun, Jiaxin Lei, Hui Lu, Seunghee Shin(Binghamton University)</p>
              <h4 class="talk-title">Influence-Based Provenance for Dataflow Applications with Taint Propagation</h4>
                <p class="course-meta" style="line-height:18px;">Jason Teoh, Muhammad Ali Gulzar, Miryung Kim(UCLA)</p>
              <h4 class="talk-title">A User-level Toolkit for Storage I/O Isolation on Multitenant Hosts</h4>
                <p class="course-meta" style="line-height:18px;">Giorgos Kappes, Stergios Anastasiadis(University of Ioannina)</p>
              <h4 class="talk-title">Challenges and Solutions for Fast Remote Persistent Memory Access</h4>
                <p class="course-meta" style="line-height:18px;">Anuj Kalia(Microsoft Research); David Andersen(CMU); Michael Kaminsky(BrdgAI / Carnegie Mellon University)</p>
              <h4 class="talk-title">SNF: Serverless Network Functions</h4>
                <p class="course-meta" style="line-height:18px;">Arjun Singhvi(University of Wisconsin - Madison); Junaid Khalid(Google); Aditya Akella(UW--Madison and Google); Sujata Banerjee(VMware Research)</p>
              <h4 class="talk-title">Network-accelerated Distributed Machine Learning for Multi-Tenant Settings</h4>
                <p class="course-meta" style="line-height:18px;">Raajay Viswanathan(Uber Techonolgies Inc); Arjun Balasubramanian(UW-Madison); Aditya Akella(UW-Madison and Google)</p>
              <h4 class="talk-title">Photons: Lambdas on a diet</h4>
                <p class="course-meta" style="line-height:18px;">Vojislav Dukic, Rodrigo Bruno(ETH Zurich); Ankit Singla(ETH Zürich); Gustavo Alonso(ETH Zurich)</p>
              <h4 class="talk-title">Peafowl: In-application CPU Scheduling to Reduce Power Consumption ofIn-memory Key-Value Stores</h4>
                <p class="course-meta" style="line-height:18px;">Esmail Asyabi, Azer Bestavros(Boston University); Erfan Sharafzadeh(Johns Hopkins University); Timothy Zhu(Pennsylvania State University)</p>
              <h4 class="talk-title">Semi-Dynamic Load Balancing: Efficient Distributed Learning in Non-Dedicated Environments</h4>
                <p class="course-meta" style="line-height:18px;">Chen Chen, Qizhen Weng, Wei Wang(Hong Kong University of Science and Technology); Baochun Li(University of Toronto); Bo Li(Hong Kong University of Science and Technology)</p>
              <h4 class="talk-title">Improving the Accuracy, Adaptability, and Interpretability of SSD Failure Prediction Models</h4>
                <p class="course-meta" style="line-height:18px;">Chandranil Chakraborttii, hlitz@ucsc.edu(University of California, Santa Cruz)</p>
              <h4 class="talk-title">Specializing the network for scatter-gather workloads</h4>
                <p class="course-meta" style="line-height:18px;">Catalina Alvarez, Zhenhao He, Gustavo Alonso, Ankit Singla(ETH Zurich)</p>
              <h4 class="talk-title">Baechi: Fast Device Placement of Machine Learning Graphs</h4>
                <p class="course-meta" style="line-height:18px;">Beomyeol Jeon(University of Illinois Urbana-Champaign, USA); Linda Cai(Princeton University); Pallavi Srivastava(Microsoft); Jintao Jiang(University of California Los Angeles, USA); Xiaolan Ke, Yitao Meng, Cong Xie, Indranil Gupta(University of Illinois Urbana-Champaign, USA)</p>
              <h4 class="talk-title">Automatically Detecting Risky Scripts in Infrastructure Code</h4>
                <p class="course-meta" style="line-height:18px;">Ting Dai, Alexei Karve(IBM Research); Grzegorz Koper(IBM); Sai Zeng(IBM Research)</p>
              <h4 class="talk-title">Bypassing the Load Balancer Without Regrets</h4>
                <p class="course-meta" style="line-height:18px;">Marios Kogias, Rishabh Iyer, Edouard Bugnion(EPFL)</p>
              <h4 class="talk-title">Finding the Right Cloud Configuration for Analytics Clusters</h4>
                <p class="course-meta" style="line-height:18px;">Muhammad Bilal(UCLouvain and IST); Marco Canini(KAUST); Rodrigo Rodrigues(IST (ULisboa) / INESC-ID)</p>
              <h4 class="talk-title">Sequoia: Enabling Quality-of-Service in Serverless Computing</h4>
                <p class="course-meta" style="line-height:18px;">Ali Tariq, Austin Pahl, Sharat Nimmagadda, Eric Rozner, Siddharth Lanka(University of Colorado Boulder)</p>
              <h4 class="talk-title">Elastic Parameter Server Load Distribution in Deep Learning Clusters</h4>
                 <p class="course-meta" style="line-height:18px;">Yangrui Chen (The University of Hong Kong); Yanghua Peng (The Department of Computer Science, The University of Hong Kong); Yixin Bao, Chuan Wu (The University of Hong Kong); Yibo Zhu (ByteDance Inc.); Chuanxiong Guo (Bytedance)</p>
          </div><!-- /.section-content -->
        </section><!-- /.main-content -->
      </div><!-- /.col-md-6 -->

      <div class="col-md-3">
        {% include latest-news.html %}
      </div><!-- /.col-md-3 -->

    </div><!-- /.row -->
  </div><!-- /.container -->
</div>
<!-- end Content -->
