---
layout: default
---

{% include slider-accepted-papers.html %}

<!-- Content -->
<div class="block">
  <div class="container">
    <div class="row">

      <div class="col-md-9">
        <section id="main-content">
          <div class="section-content">
            <header><h2>Accepted papers</h2></header>

         


<h4 class="talk-title">Coupling Decentralized Key-Value Stores with Erasure Coding</h4>
<p class="course-meta" style="line-height:18px;">Liangfeng Cheng, Yuchong Hu (Huazhong University of Science and Technology); Patrick P. C. Lee (The Chinese University of Hong Kong)</p>

<h4 class="talk-title">Agni: An Efficient Dual-access File System over Object Storage</h4>
<p class="course-meta" style="line-height:18px;">Kunal Lillaney (Johns Hopkins University); Vasily Tarasov, David Pease (IBM Research - Almaden); Randal Burns (Johns Hopkins University)</p>

<h4 class="talk-title">MME-FaaS Cloud-Native Control for Mobile Networks</h4>
<p class="course-meta" style="line-height:18px;">Sonika Jindal, Robert Ricci (University of Utah)</p>

 <h4 class="talk-title">Cartel: A System for Collaborative Transfer Learning at the Edge</h4>
<p class="course-meta" style="line-height:18px;">Harshit Daga (Georgia Institute of Technology); Patrick Nicholson (Nokia Bell Labs); Ada Gavrilovska (Georgia Institute of Technology); Diego Lugones (Nokia Bell Labs)</p>

            <h4 class="talk-title">Hotspot Mitigations for the Masses</h4>
<p class="course-meta" style="line-height:18px;">Fabien Hermenier, Aditya Ramesh, Abhinay Nagpal, Himanshu Shukla, Ramesh Chandra (Nutanix)</p>

            <h4 class="talk-title">HyperSched: Dynamic Resource Reallocation for Model Development on a Deadline</h4>
<p class="course-meta" style="line-height:18px;">Richard Liaw, Romil Bhardwaj, Lisa Dunlap, Yitian Zou, Alexey Tumanov, Joseph Gonzalez, Ion Stoica (UC Berkeley)</p>

            <h4 class="talk-title">Characterizing and Synthesizing Task Dependencies of Data-Parallel Jobs in Alibaba Cloud</h4>
<p class="course-meta" style="line-height:18px;">Huangshi Tian, Yunchuan Zheng, Wei Wang (HKUST)</p>

            <h4 class="talk-title">Matrix Profile XIV: Scaling Time Series Motif Discovery with GPUs to Break a Quintillion Pairwise Comparisons a Day and Beyond</h4>
<p class="course-meta" style="line-height:18px;">Zachary Zimmerman, Kaveh Kamgar, Nader Shakibay Senobari, Yan Zhu, Brian Crites, Gareth Funning, Philip Brisk, Eamonn Keogh (University of California, Riverside)</p>

            <h4 class="talk-title">Sifter: Scalable Sampling for Distributed Traces, without Feature Engineering</h4>
<p class="course-meta" style="line-height:18px;">Pedro Las-Casas, Giorgi Papakerashvili, Vaastav Anand, Jonathan Mace (MPI-SWS)</p>

            <h4 class="talk-title">Grasper: A High Performance Distributed System for OLAP on Property Graphs</h4>
<p class="course-meta" style="line-height:18px;">Hongzhi Chen, Changji Li, Juncheng Fang, Chenghuan Huang, James Cheng, Jian Zhang, Yifan Hou, Xiao Yan (The Chinese University of Hong Kong)</p>

            <h4 class="talk-title">WormSpace: A Modular Foundation for Simple, Verifiable Distributed Systems</h4>
<p class="course-meta" style="line-height:18px;">Ji-Yong Shin, Jieung Kim, Wolf Honore, Hernan Vanzetto (Yale University); Srihari Radhakrishnan (Duke University); Mahesh Balakrishnan (Yale University / Facebook); Zhong Shao (Yale University)</p>

            <h4 class="talk-title">RapidCDC: Leveraging Duplicate Locality to Accelerate Chunking in CDC-based Deduplication Systems</h4>
<p class="course-meta" style="line-height:18px;">Fan Ni (University of Texas, Arlington); Song Jiang (University of Texas at Arlington)</p>

            <h4 class="talk-title">BigDL: A Distributed Deep Learning Framework for Big Data</h4>
<p class="course-meta" style="line-height:18px;">Jinquan Dai (Intel), Yiheng Wang (Tencent), Xin Qiu (Intel), Ding Ding (Intel), Yao Zhang (Sequoia Capital), Yanzhang Wang (Intel), Xianyan Jia (Alibaba), Li Zhang (Intel), Yan Wan (Alibaba), Zhichao Li (Intel), Jiao Wang (Intel), Shengsheng Huang (Intel), Zhongyuan Wu (Intel), Yang Wang (Intel), Yuhao Yang (Intel), Bowen She (Intel), Dongjie Shi (Intel), Qi Lu (Intel), Kai Huang (Intel), Guoqiong Song (Intel)</p>

            <h4 class="talk-title">BurScale: Using Burstable Instances for Cost-Effective Autoscaling in the Public Cloud</h4>
<p class="course-meta" style="line-height:18px;">Ataollah Fatahi Baarzi, Timothy Zhu, Bhuvan Urgaonkar (The Pennsylvania State University)</p>

            <h4 class="talk-title">Scavenger: A Black-Box Batch Workload Resource Manager for Improving Utilization in Cloud Environments</h4>
<p class="course-meta" style="line-height:18px;">Seyyed Ahmad Javadi, Amoghavarsha Suresh, Muhammad Wajahat, Anshul Gandhi (Stony Brook University)</p>

            <h4 class="talk-title">Seamless Offloading of Web App Computations From Mobile Device to Edge Clouds via HTML5 Web Worker Migration</h4>
<p class="course-meta" style="line-height:18px;">Hyuk-Jin Jeong, Chang Hyun Shin, Kwang Yong Shin, Hyeon-Jae Lee, Soo-Mook Moon (Seoul National University)</p>

            <h4 class="talk-title">NEPTUNE: Scheduling Suspendable Tasks for Unified Stream/Batch Applications</h4>
<p class="course-meta" style="line-height:18px;">Panagiotis Garefalakis (Imperial College London); Konstantinos Karanasos (Microsoft); Peter Pietzuch (Imperial College London)</p>

            <h4 class="talk-title">Analysis of and Optimization for Write-dominated Hybrid Storage Nodes in Cloud</h4>
<p class="course-meta" style="line-height:18px;">Shuyang Liu, Shucheng Wang, Qiang Cao, Ziyi Lu (Huazhong University of Science and Technology); Hong Jiang (UT Arlington); Jie Yao (Huazhong University of Science and Technology); Yuanyuan Dong, Puyuan Yang (Alibaba)</p>

            <h4 class="talk-title">Pigeon: an Effective Distributed, Hierarchical Datacenter Job Scheduler</h4>
<p class="course-meta" style="line-height:18px;">Zhijun Wang, Huiyang Li, Zhongwei Li (The University of Texas at Arlington); Xiaocui Sun (Guangdong Pharmaceutical University); Jia Rao, Hao Che, Hong Jiang (The University of Texas at Arlington)</p>

            <h4 class="talk-title">Reverb: Speculative Debugging for Web Applications</h4>
<p class="course-meta" style="line-height:18px;">Ravi Netravali (UCLA); James Mickens (Harvard University)</p>

            <h4 class="talk-title">Repeatable Oblivious Shuffling of Large Outsourced Data Blocks</h4>
<p class="course-meta" style="line-height:18px;">Zhilin Zhang, Ke Wang, Weipeng Lin (Simon Fraser University); Ada Wai-Chee Fu (The Chinese University of Hong Kong); Raymond Chi-Wing Wong (Hong Kong University of Science and Technology)</p>

            <h4 class="talk-title">Centralized Core-granular Scheduling for Serverless Functions</h4>
<p class="course-meta" style="line-height:18px;">Kostis Kaffes, Neeraja Yadwadkar (Stanford University); Christos Kozyrakis (Stanford University, Google)</p>

            <h4 class="talk-title">Libra and the Art of Task Sizing in Big-Data Analytic Systems</h4>
<p class="course-meta" style="line-height:18px;">Rui Li, Peizhen Guo, Bo Hu, Wenjun Hu (Yale University)</p>

            <h4 class="talk-title">Perceptual Compression for Video Storage and Processing Systems</h4>
<p class="course-meta" style="line-height:18px;">Amrita Mazumdar, Brandon Haynes, Magda Balazinska, Luis Ceze, Alvin Cheung, Mark Oskin (University of Washington)</p>

            <h4 class="talk-title">pRedis: Penalty and Locality Aware Memory Allocation in Redis</h4>
<p class="course-meta" style="line-height:18px;">Cheng Pan, Yingwei Luo, Xiaolin Wang (Peking University); Zhenlin Wang (Michigan Tech)</p>

            <h4 class="talk-title">HP-Mapper: A High Performance Storage Driver for Docker Containers</h4>
<p class="course-meta" style="line-height:18px;">Fan Guo, Yongkun Li, Min Lv, Yinlong Xu (University of Science and Technology of China); John C. S. Lui (The Chinese University of Hong Kong)</p>

            <h4 class="talk-title">DCUDA: Dynamic GPU Scheduling with Live Migration Support</h4>
<p class="course-meta" style="line-height:18px;">Fan Guo, Yongkun Li (University of Science and Technology of China); John C. S. Lui (The Chinese University of Hong Kong); Yinlong Xu (University of Science and Technology of China)</p>

            <h4 class="talk-title">An Automated, Cross-layer Instrumentation Framework for Diagnosing Performance Problems in Distributed Applications</h4>
<p class="course-meta" style="line-height:18px;">Emre Ates (Boston University); Lily Sturmann (RedHat, Inc.); Mert Toslali, Orran Krieger (Boston University); Richard Megginson (RedHat, Inc.); Ayse K. Coskun (Boston University); Raja R. Sambasivan (Tufts University)</p>

            <h4 class="talk-title">Pufferfish: Container-driven Elastic Memory Management for Data-intensive Applications</h4>
<p class="course-meta" style="line-height:18px;">Wei Chen (University of Colorado, Colorado Springs); Aidi Pi (University of Colorado Colorado Springs); Shaoqi Wang, Xiaobo Zhou (University of Colorado, Colorado Springs)</p>

            <h4 class="talk-title">Cirrus: a Serverless Framework for End-to-end ML Workflows</h4>
<p class="course-meta" style="line-height:18px;">Joao Carreira (UC Berkeley); Pedro Fonseca (Purdue University); Alexey Tumanov, Andrew Zhang, Randy Katz (UC Berkeley)</p>

            <h4 class="talk-title">Software Data Planes: You Can't Always Spin to Win</h4>
<p class="course-meta" style="line-height:18px;">Hossein Golestani, Amirhossein Mirhosseini, Thomas Wenisch (University of Michigan)</p>

            <h4 class="talk-title">A System-Wide Debugging Assistant Powered by Natural Language Processing</h4>
<p class="course-meta" style="line-height:18px;">Pradeep Dogga (UCLA); Karthik Narasimhan (Princeton University); Anirudh Sivaraman (NYU); Ravi Netravali (UCLA)</p>

            <h4 class="talk-title">Acorn: Aggressive Result Caching in Distributed Data Processing Frameworks</h4>
<p class="course-meta" style="line-height:18px;">Lana Ramjit (UCLA); Matteo Interlandi (Microsoft); Eugene Wu (Columbia University); Ravi Netravali (UCLA)</p>

            <h4 class="talk-title">Narrowing the Gap Between Serverless and its State with Storage Functions</h4>
<p class="course-meta" style="line-height:18px;">Tian Zhang, Dong Xie, Feifei Li, Ryan Stutsman (University of Utah)</p>

            <h4 class="talk-title">Griffon: Reasoning about Job Anomalies with Unlabeled Data in Cloud-based Platforms</h4>
<p class="course-meta" style="line-height:18px;">Liqun Shao, Yiwen Zhu (Microsoft Corp.); Siqi Liu (University of Pittsburgh); Abhiram Eswaran, Kristin Lieber, Janhavi Mahajan, Minsoo Thigpen, Sudhir Darbha (Microsoft Corp.); Subru Krishnan (Microsoft); Soundar Srinivasan (Microsoft Corp.); Carlo Curino, Konstantinos Karanasos (Microsoft)</p>

            <h4 class="talk-title">TagSniff: Simplified Big Data Debugging for Dataflow Jobs</h4>
<p class="course-meta" style="line-height:18px;">Bertty Contreras, Jorge Quiane, Zoi Kaoudi, Saravanan Thirumuruganathan (QCRI HBKU)</p>

            <h4 class="talk-title">PerfDebug: Performance Debugging of Computation Skew in Dataflow Systems</h4>
<p class="course-meta" style="line-height:18px;">Jason Teoh, Muhammad Ali Gulzar, Guoqing Harry Xu, Miryung Kim (UCLA)</p>

            <h4 class="talk-title">Composing SDN Controller Enhancements with Mozart</h4>
<p class="course-meta" style="line-height:18px;">Zhenyu Zhou (Duke University); Theophilus A. Benson (Brown University)</p>

            <h4 class="talk-title">Peregrine: Workload Optimization for Cloud Query Engines</h4>
<p class="course-meta" style="line-height:18px;">Alekh Jindal, Hiren Patel, Abhishek Roy, Shi Qiao, Zhicheng Yin, Rathijit Sen, Subru Krishnan (Microsoft)</p>


          </div><!-- /.section-content -->
        </section><!-- /.main-content -->
      </div><!-- /.col-md-6 -->

      <div class="col-md-3">
        {% include latest-news.html %}
      </div><!-- /.col-md-3 -->

    </div><!-- /.row -->
  </div><!-- /.container -->
</div>
<!-- end Content -->
