---
layout: default
---

{% include slider-accepted-posters.html %}

<!-- Content -->
<div class="block">
  <div class="container">
    <div class="row">

      <div class="col-md-9">
        <section id="main-content">
          <div class="section-content">
            <header><h2>Accepted posters</h2></header>
          
            <h4 class="talk-title">FunctionBench: Practical Workloads for Serverless FaaS</h4>
<p class="course-meta" style="line-height:18px;">Jeongchul Kim (Kookmin University, South Korea), Kyungyong Lee (Kookmin University, South Korea)</p>

         <h4 class="talk-title">Perphon: a ML-based Agent for Workload Co-location via Online Performance Prediction and Resource Inference</h4>
<p class="course-meta" style="line-height:18px;">Jianyong Zhu (Beihang University), Renyu Yang (Edgetic Ltd. UK/University of Leeds), Chunming Hu (Beihang University), Tianyu Wo (Beihang University), Shiqing Xue (Beihang University),Jin Ouyang (Alibaba Group), Jie Xu (Edgetic Ltd. UK/University of Leeds)</p>
   
            <h4 class="talk-title">Accordia: Adaptive Cloud Configuration Optimization for Recurring Data-Intensive Applications</h4>
<p class="course-meta" style="line-height:18px;">Yang Liu (Department of Information Engineering, The Chinese University of Hong Kong), Huanle Xu (College of Computer Science and Technology, Dongguan University of Technology), Wing Cheong Lau (Department of Information Engineering, The Chinese University of Hong Kong)</p>
   
             <h4 class="talk-title">Vote Them Out: Detecting and Eliminating Byzantine Peers</h4>
<p class="course-meta" style="line-height:18px;">Tuan Tran (University of California Santa Cruz), Priyanka Mondal (University of California, Santa Cruz), Roy Shadmon (University of California Santa Cruz), Manthan Mallikarjun (University of California Santa Cruz), Peter Alvaro (UC Santa Cruz), Owen Arden (University of California Santa Cruz)</p>
            
            <h4 class="talk-title">Cooperative LSM</h4>
<p class="course-meta" style="line-height:18px;">Natasha Mittal (Univesity of California, Santa Cruz)</p>
            
            <h4 class="talk-title">WedgeDB: transaction processing for edge databases</h4>
<p class="course-meta" style="line-height:18px;">Abhishek Alfred Singh (University of California, Santa Cruz), Faisal Nawab (University of California, Santa Cruz)</p>
            
            <h4 class="talk-title">Isopod: An Expressive DSL for Kubernetes Configuration</h4>
<p class="course-meta" style="line-height:18px;">Charles Xu (Cruise Automation), Dmitry Ilyevskiy (Cruise Automation)</p>
            
            <h4 class="talk-title">Collaborative Edge-Cloud and Edge-Edge Video Analytics</h4>
<p class="course-meta" style="line-height:18px;">Samaa Gazzaz (University of California, Santa Cruz), Faisal Nawab (University of California, Santa Cruz)</p>
            
            <h4 class="talk-title">Hy-FiX: Fast In-place upgrade of KVM hypervisors</h4>
<p class="course-meta" style="line-height:18px;">Andrea Segalini (Université Côte d’Azur, CNRS, I3S, France), Dino Lopez Pacheco (Université Côte d’Azur, CNRS, I3S, France),
Guillaume Urvoy-Keller (Université Côte d’Azur, CNRS, I3S, France),
Fabien Hermenier (Nutanix inc.),
Quentin Jacquemart( Université Côte d’Azur, CNRS, I3S, France)</p>
            
            <h4 class="talk-title">Towards a Library for Deterministic Failure Testing of Distributed Systems</h4>
<p class="course-meta" style="line-height:18px;">Armin Balalaie (University of California, Irvine), James A. Jones (University of California, Irvine)</p>
            
            <h4 class="talk-title">SplitServe: Efficiently Splitting Complex Workloads Across FaaS and IaaS</h4>
<p class="course-meta" style="line-height:18px;">Aman Jain (The Pennsylvania State University), Ata F. Baarzi (The Pennsylvania State University), Nader Alfares (The Pennsylvania State University), George Kesidis (The Pennsylvania State) University;Bhuvan Urgaonkar:The Pennsylvania State University;Mahmut Kandemir:The Pennsylvania State University</p>
            
            <h4 class="talk-title">Linear Quadratic Regulator for Resource-Efficient Cloud Services</h4>
<p class="course-meta" style="line-height:18px;">Youngsuk Park (Stanford University), Kanak Mahadik (Adobe Research), Ryan A. Rossi (Adobe Research), Gang Wu (Adobe Research), Handong Zhao (Adobe Research)</p>
            
            <h4 class="talk-title">Big Data Processing at Microsoft: Hyper Scale, Massive Complexity, and Minimal Cost</h4>
<p class="course-meta" style="line-height:18px;">Hiren Patel (Microsoft), Alekh Jindal (Microsoft), Clemens Szyperski (Microsoft)</p>
   
            
          </div><!-- /.section-content -->
        </section><!-- /.main-content -->
      </div><!-- /.col-md-6 -->

      <div class="col-md-3">
        {% include latest-news.html %}
      </div><!-- /.col-md-3 -->

    </div><!-- /.row -->
  </div><!-- /.container -->
</div>
<!-- end Content -->
