---
layout: default
---


{% include slider.html content="<h2>Accommodation</h2>"%}

<div class="block">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
		<section class="events small" id="events-small">
          <header>
            <h2>Important dates</h2>
          </header>
          <div class="section-content">
          <br>
          </div><!-- /.section-content -->
        </section><!-- /.events-small -->
      </div><!-- /.col-md-3 -->

      <div class="col-md-6">
        <section id="main-content">
          <header>
            <h1>Accommodation</h1>
          </header>

      
<!-- Content -->
<div class="section-content">
  <p> ACM SoCC 2020 will take place at the
    <a href="https://www.hyatt.com/en-US/hotel/washington/hyatt-regency-lake-washington-at-seattles-southport/searl"
      style="text-decoration:underline;">Hyatt Regency Lake Washington at Seattle's Southport</a>. </p>
	
  <p> Registration details are coming soon!</p>

	
</div>
<!-- end Content -->
          
          
          </div><!-- /.section-content -->
        </section><!-- /.main-content -->
      </div><!-- /.col-md-6 -->

	<!--
      <div class="col-md-3">
        {% include latest-news.html %}
      </div>
	-->
	  <!-- /.col-md-3 -->
    
       </div><!-- /.row -->
  </div><!-- /.container -->
</div>
   
  
