---
layout: default
---


{% include slider-accommodation.html %}

<div class="block">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
		<section class="events small" id="events-small">
          <header>
            <h2>Important dates</h2>
          </header>
          <div class="section-content">
            <article class="event nearest">
              <figure class="date">
                <div class="month">Oct</div>
                <div class="day">21</div>
              </figure>
              <aside>
                <header>
                  Cut-off date for hotel block
                </header>
              </aside>
            </article><!-- /article -->
          <br>
          </div><!-- /.section-content -->
        </section><!-- /.events-small -->
      </div><!-- /.col-md-3 -->

      <div class="col-md-6">
        <section id="main-content">
          <header>
            <h1>Accommodation</h1>
          </header>

      
<!-- Content -->
<div class="section-content">
  <p>
    ACM SoCC 2019 will take place at the
    <a href="https://www.chaminade.com/"
      style="text-decoration:underline;">Chaminade, Santa Cruz, California</a>. </p>
	
	<p> Please note that we offer very competitive <b> all-inclusive registration packages </b>. 
	If you pick one of those packages you do NOT need to separately book the hotel. 
	We will book it automatically for you (we will give your name to the hotel). 
		Please visit our <a href="https://acmsocc.github.io/2019/registration.html">REGISTRATION PAGE</a>
		for more details.</p>

  <h3>Conference hotel details</h3>
  <p>
     <a href="https://www.chaminade.com/"
      style="text-decoration:underline;">Chaminade Resort and Spa</a>.  <br>
    One Chaminade Lane<br/>
    Santa Cruz, CA 95065
  </p>

 

  <!--p>
    Should a guest desire to cancel, they must notify the hotel at least seventy two (72) hours prior to scheduled arrival date.
    Credit cards will not be charged until actual check in or late cancellations.
  </p-->

  <p style="color:red;">The cutoff date to reserve the all-inclusive registration packages October 21st, 2019, 
	  or until the group block is sold-out, whichever comes first.</p>
  <p>
   
  </p>


	
<!--h3>Travel information</h3>
  <p>For further travel information, see <a href="location.html">Location</a>
    </p>
-->
	
</div>
<!-- end Content -->
          
          
          </div><!-- /.section-content -->
        </section><!-- /.main-content -->
      </div><!-- /.col-md-6 -->

	<!--
      <div class="col-md-3">
        {% include latest-news.html %}
      </div>
	-->
	  <!-- /.col-md-3 -->
    
       </div><!-- /.row -->
  </div><!-- /.container -->
</div>
   
  
