---
layout: default
---


{% include slider-accommodation.html %}

<div class="block">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
		<section class="events small" id="events-small">
          <header>
            <h2>Important dates</h2>
          </header>
          <div class="section-content">
            <article class="event nearest">
              <figure class="date">
                <div class="month">Sep</div>
                <div class="day">10</div>
              </figure>
              <aside>
                <header>
                  Cut-off date for hotel block
                </header>
              </aside>
            </article><!-- /article -->
          <br>
          </div><!-- /.section-content -->
        </section><!-- /.events-small -->
      </div><!-- /.col-md-3 -->

      <div class="col-md-6">
        <section id="main-content">
          <header>
            <h1>Accommodation</h1>
          </header>

      
<!-- Content -->
<div class="section-content">
  <p>
    ACM SoCC 2018 will take place at the
    <a href="http://www.hilton.com/en/hi/groups/personalized/S/SANRSHF-ACM-20181009/index.jhtml"
      style="text-decoration:underline;">Cape Rey Carlsbad Hotel</a>. We have negotiated a special rate of $199.00/night (plus $10/night resort fee plus taxes) for the conference attendees, during
    the conference as well as up to two days before and after the conference on a limited basis.</p>

  <h3>Conference hotel details</h3>
  <p>
    <a href="http://www.hilton.com/en/hi/groups/personalized/S/SANRSHF-ACM-20181009/index.jhtml"
      style="text-decoration:underline;">Cape Rey Carlsbad</a><br/>
    1 Ponto Road<br/>
    Carlsbad, CA 92011
  </p>

  <h3>Reservation information</h3>

  <p> You can reserve rooms at the discounted rate
    <a href="http://www.hilton.com/en/hi/groups/personalized/S/SANRSHF-ACM-20181009/index.jhtml"
      target="_blank" rel="nofollow" style="text-decoration:underline;">
      <u>here</u>
    </a>, or call +1-760-602-0800 asking for Reservations, and referencing the group code, "ACM" or group name, "Association for Computing Machinery Inc.".
  </p>

  <p>
    You can also go online to the hotel website [<a href="https://www.caperey.com/">https://www.caperey.com/</a>] and type in the Group Code: "ACM" on the "Special Accounts and Rates" section.
  </p>

  <p>
    Should a guest desire to cancel, they must notify the hotel at least seventy two (72) hours prior to scheduled arrival date.
    Credit cards will not be charged until actual check in or late cancellations.
  </p>

  <p style="color:blue;">The cutoff date to reserve rooms at the group discount is Monday-September 10, 2018, or until the group block is sold-out, whichever comes first.</p>
  <p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3342.42920013574!2d-117.31812232152663!3d33.0977984749629!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80dc72d545894af5%3A0x12356c344fc2eb6a!2sCape+Rey+Carlsbad%2C+a+Hilton+Resort!5e0!3m2!1sen!2sus!4v1526855300356" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </p>

<h3>Parking</h3>
There is a new parking gate and charging kiosk for the garage so ther are offering special rates for the SoCC attendendees 
instead of the regular hourly rates. Those that are staying overnight have the parking programmed into their room key. 
The attendees have to pay $5.00 for the day if the attendee does not have a room at the Cape Rey Carlsbad. You can 
download the barcode from the below link (please save the image on your phones). There are also some printed parking 
validation slips at the Front Desk for attendees to pick up on the way out. They just have to identify themselves as 
being with SoCC. If paying in Cash for the parking, please see the Front Desk; and if paying with a Credit Card, flash 
the barcode at the parking payment kiosk and pay with credit card.

<a href="assets/SoCC-2018-Validation-Parking.pdf"> 
	Barcode for Discounted Parking </a>
	
<h3>Travel information</h3>
  <p>For further travel information, see <a href="location.html">Location</a>
    </p>
</div>
<!-- end Content -->
          
          
          </div><!-- /.section-content -->
        </section><!-- /.main-content -->
      </div><!-- /.col-md-6 -->

	<!--
      <div class="col-md-3">
        {% include latest-news.html %}
      </div>
	-->
	  <!-- /.col-md-3 -->
    
       </div><!-- /.row -->
  </div><!-- /.container -->
</div>
   
  
