---
layout: default
---

{% include slider.html content="<h2>SoCC User Manual</h2>"%}
<!-- Content -->
<div class="block">
  <div class="container">
    <div class="row">

      <div class="col-md-9">
        <section id="main-content">
          <div class="section-content">
            <header><h2>How to Participate in the Virtual Conference</h2></header>
            SoCC is fully virtual this year. Despite the fact that you won't travel to a
nice place, stay in a nice hotel, and meet your colleagues in person, there are some
advantages! We have the largest number of registrations ever, with the largest
international participation as well. This page describes how the conference will work, and
how you can participate.

            <h3>1. Register!</h3>
            You must <a href="https://whova.com/portal/registration/sccs_202010/" style="text-decoration: underline;">register</a> to participate in the conference. This will give you access
            to the papers, video presentations, live discussions, keynotes, panels, and to the Gather
            virtual environment. After Oct 16th the price will go from $15 to $45, so do
            it now.
            <h3>2. Week Before (Oct 13th - Oct 18th)</h3>
            <ul>
                <li> <b>Read the papers!</b> The papers are available in the week before the conference, thanks to
the ACM Digital Library, SIGOPS, and SIGMOD. Go to the detail page for each paper in the
agenda for the link (right above the Abstract, where you see Paper: <i>[link]</i>). </li>
                <li> <b>Watch the videos!</b> Go to the detail page of a paper in <a
href="https://whova.com/portal/webapp/sccs_202010/" style="text-decoration: underline;">Whova</a>. You can also use the <a
href"https://whova.com/portal/webapp/sccs_202010/VideoGallery" style="text-decoration: underline;">Video Gallery</a> in Whova.
The authors prepared 18-minute videos presenting
their papers. These are available now, and will <b>not</b> be presented live. (See below
for the format of the live sessions).</li>
                <li> <b>Ask questions!</b> You can go to the detail page of a paper in <a
href="https://whova.com/portal/webapp/sccs_202010/" style="text-decoration: underline;">Whova</a> and use the Q&amp;A pane to
ask the authors questions, upvote questions, and also chat. This chat is persistent: it
will guide the session chairs in the live sessions, and will outlast the conference for 
a continued conversation with the authors.
            </ul>
           <h3>3. Main Conference (Oct 19th - Oct 21st)</h3>
            <ul> 
                <li><b>Watch the sessions!</b> Refer to the <a
href="https://whova.com/portal/webapp/sccs_202010/Agenda" style="text-decoration: underline;">Agenda</a> for the times. Pay
attention to the timezones, you can switch the display to your local time zone. We will
use Zoom Webinars. You will be able to watch from within the Whova page for each session,
or from the Zoom app. Two days
before the conference we will post details for joining the Zoom webinar for the sessions.
                <li><b>Paper sessions:</b> each paper will have a slot of 15 minutes: the authors
will do a live presentation of 4 minutes, followed by 11 minutes of Q&amp;A. The session 
chairs will read questions from the Whova Q&amp;A.</li>
                <li>Posters: <b>all of the breaks in the conference will happen in
Gather</b>, a 2-D virtual world where you walk around and are able to video chat with those
close to you. Each paper has a virtual poster in Gather. 
After each session (except on the second day, when there is a long poster
session in Gather), the authors of that session will hang out close to their virtual posters in Gather,
and you can go there to continue the conversations.</li>
                <li><b>Visit the sponsors:</b> during the poster session our sponsors -- Microsoft, Alibaba, AWS,
Apple, vmware, IBM, and Google -- will have booths, where you will be able to chat with
employees about research, new technologies, and job opportunities.</li>
                <li><b>Mentoring Event:</b> if you have signed up to be a mentor or a mentee, you
should find a time to meet. You can do that in Gather as well, by walking to a table or
couch.</li>
                <li><b>Hallway Track:</b> the Gather breaks will also serve as the hallway track.
You will be able to walk around and meet with people without planning, or by agreeing to meet in a particular
place in the virtual hall.</li>
            </ul>
            <h3>After the Conference</h3>
            The papers and videos will be archived in the ACM Digital Library, and made
available for free thanks to SIGOPS and SIGMOD. Be sure to provide your feedback, so that
we can make the next SoCC even better, be it virtual, or in person. We will be in touch.
          </div><!-- /.section-content -->
        </section><!-- /.main-content -->
      </div><!-- /.col-md-6 -->

      <div class="col-md-3">
        {% include latest-news.html %}
      </div><!-- /.col-md-3 -->

    </div><!-- /.row -->
  </div><!-- /.container -->
</div>
<!-- end Content -->

