---
layout: default
---

{% include slider-diversity.html %}

<!-- Content -->
<div class="block">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <section class="events small" id="events-small">
          <header>
            <h2>Dates</h2>
          </header>
          <div class="section-content">
            <article class="event nearest">
              <figure class="date">
                <div class="month">sep</div>
                <div class="day">4</div>
              </figure>
              <aside>
                <header>
                  Submission deadline
                </header>
              </aside>
            </article>
            <br>
            <article class="event nearest-second">
              <figure class="date">
                <div class="month">sep</div>
                <div class="day">9</div>
              </figure>
              <aside>
                <header>
                  Notification of acceptance
                </header>
              </aside>
            </article>
			<br><br>
          </div>
        </section>

        <section class="events small" id="events-small">
          <header>
            <h2>Links</h2>
          </header>
          <div class="section-content">
            <ul class="list-links">
	      <li><h4><a href="https://goo.gl/forms/VcOnxzX20BA5pd1B2">Applicant Form</a></h4></li>
            </ul>
          </div><!-- /.section-content -->
        </section><!-- /.events-small -->
      </div><!-- /.col-md-3 -->

      <div class="col-md-6">
        <section id="main-content">
          <header>
            <h1>Diversity Grants</h1>
          </header>
          <div class="section-content">

          <p> As part of our ongoing commitment to encourage diversity in advanced computing, we are pleased to offer Diversity Grants
          to support computer scientists interested in attending SoCC'18. All computer scientists from academia or industry who identify
          as female or a member of another underrepresented community are encouraged to apply. Awardees will receive funds to apply toward
          travel and/or accommodation costs (including child care) at the conference. These Grants are offered thanks to generous support
          from SIGOPS and NSF.


	  <p style="color:red;">Submission deadline: September 4
	  <br> Acceptance notification: September 9 <br></p>

            <a id="eligibility"><h2>Eligibility</h2></a>
            <p>
              <ul>
                <li>Identify as a female or a member of another underrepresented group in tech</li>
                <li>Work in or study computer science or related field</li>
                <li>Attend at least the first two full days of the Conference Program</li>
              </ul>
            </p>
            <a id="howtoapply"><h2>How to apply</h2></a>
            <p>
              First, fill out this <a href="https://goo.gl/forms/VcOnxzX20BA5pd1B2">form.</a>
            </p>
            <p>
               Then, submit the following information (in PDF attachments) in one email to <a href="mailto:socc2018-scholarships@googlegroups.com">socc2018-scholarships@googlegroups.com</a>.
               The email subject must have the format: Diversity - Firstname Lastname (institution domain name in lower case). For example, Diversity - Sam Smith (uchicago.edu).
               The email doesn't need to have any body content, but it must have 2 PDF attachments, containing:
            </p>

            <p>
              <ul>
                <li><p>
                A <b>1-page</b> position statement to explain the expected benefit of attending the conference, describe any research that you have done,
                and list any published papers. This statement should be no longer than one page, and should be attached in PDF
                with <b><u>filename format inst-first-last-diversity-statement.pdf</u></b> (where inst = institution domain name, first = first name, last = last name, all in lower case).
                For example, <b><u>uchicago-sam-smith-diversity-statement.pdf</u></b>.
                <br>If you are a student presenter or author, please say so.</p>
                </li>
                <li><p>
                <b>Your CV</b> in PDF with filename format <b><u>inst-first-last-diversity-cv.pdf</u></b> (e.g., uchicago-sam-smith-diversity-cv.pdf).
                </p>
                </li>
              </ul>
            </p>

          </div><!-- /.section-content -->
        </section><!-- /.main-content -->
      </div><!-- /.col-md-6 -->

      <div class="col-md-3">
	{% include latest-news.html %}
      </div><!-- /.col-md-3 -->

    </div><!-- /.row -->
  </div><!-- /.container -->
</div>
<!-- end Content -->

