---
layout: default
---

{% include slider.html content="<h2>Keynote talks</h2>"%}

<!-- Content -->
<div class="block">
<div class="container">
<div class="row">
  <div class="col-md-9">
    <section id="main-content">
      <div class="section-content">
        <h2>Keynote Speakers</h2>
	  {% include keynote-speaker.html key="ricardo" photo="assets/img/ricardo.jpg" %}
	      <br>
	      <br>
              <br />
         {% include keynote-speaker.html key="feifei" photo="assets/img/feifei.jpg" %}
	      <br>
	      <br>
            <br />
        {% include keynote-speaker.html key="juliana" photo="assets/img/juliana.jpg" %}
	      <br>
	      <br>
            <br />
	      
      </div><!-- /.section-content -->
    </section><!-- /.main-content -->
  </div><!-- /.col-md-9 -->

  <div class="col-md-3">
    {% include latest-news.html %}
  </div><!-- /.col-md-3 -->

</div><!-- /.row -->
</div><!-- /.container -->
</div>
<!-- end Content -->
