---
layout: default
---

<style>
.attractions li {
	/* Add shadows to create the "card" effect */
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	float: left;
	width: 300pt;
	height: 300pt;
	padding: 20pt;
	list-style-type: none;
}
/* On mouse-over, add a deeper shadow */
.attractions li:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.attractions li .title {
	position: relative;
	text-align: center;
}

.attractions li .title img {
	width: 100%;
	height: 150pt;
}

.attractions li .title div.name {
	background-color: rgba(0,0,0,0.5);
	color: white;
	position: absolute;
	bottom: 0px;
	padding-bottom: 2pt;
	padding-top: 2pt;
	width: 100%;
}

.attractions li .title div.name a { color: white;}

/* Add some padding inside the card container */
.container {
	padding: 2px 16px;
}
.title {clear: both; font-weight: bold; font-size: larger;}
</style>


<!--

{% include slider-location.html %}
-->

<!-- Content -->
<div class="block">
  <div class="container">
    <div class="row">

	    
	    <div class="map">
<iframe src="https://www.google.com/maps/d/embed?mid=17wpLPz-QSmX-TF6WXgplrjRjED4PQtNz" width="100%" height="480"></iframe>
</div>

<p>The conference is located in Cape Rey Beach Resort in Carlsbad, California. This page provides travel information and other 
	information about nearby attractions and venues.</p>

<h2>Travel Information</h2>
<p>The following major airports are all candidates for flying in.</p>
<ul>
<li>
<div class="title"><a href="http://www.san.org/">San Diego International Airport (SAN)</a> (30 miles)</div>
SAN is the closest international airport to the conference venue and it t is within a 30 miles distance. 
	<a href="https://booking.supershuttle.com">SuperShuttle</a> and other shuttle services operate between SAN and 
	the hotel and can be booked in advance. An Uber ride is estimated at $50 one way but is subject to traffic conditions and time.
</li>
<li>
<div class="title"><a href="https://www.flylax.com/">Los Angeles International Airport (LAX)</a> (100 miles)</div>
LAX is the largest accessible international airport. There is a higher chance of finding a more convenient flight to/from 
	LAX (i.e., direct flights, cheaper, and more options). However, it is a little bit far away and there is a chance 
	that you will hit the heavy traffic of Los Angeles on your way. Being busy all the time, it might not give you the 
	best travel experience. It was 
	<a href="http://www.latimes.com/local/lanow/la-me-lax-survey-ranking-20170921-story.html">ranked second-to-last airport 
		in the US in 2017 in a study by J.D. Power</a>.
</li>
<li>
<div class="title"><a href="https://www.ocair.com/">John Wayne Airport (JWA)</a> (57 miles)</div>
While not as big as LAX, 
	<a href="http://www.latimes.com/local/lanow/la-me-lax-survey-ranking-20170921-story.html">JWA ranked best airport 
		in the same study that put LAX second-to-last</a>. It is also closer than LAX. You might not find a lot of 
	flight options, but you might be able to skip (most of) the heavy traffic of Southern California.
</li>
<li>
<div class="title"><a href="http://www.lgb.org/">Long Beach Airport (LGB)</a> (75 miles)</div>
LGB is another airport in Southern California which will allow you to escape some of the heavy traffic. 
	It is a little bit further away than John Wayne but you can still consider it a viable option.
</li>
<li>
<div class="title"><a href="https://www.flyontario.com/">Ontario International Airport (ONT)</a> (95 miles)</div>
ONT is almost as far as LAX in distance but is not usually very busy and the traffic around it is better than Los Angeles.
</li>
</ul>

<h2>Nearby Hotels</h2>
Cape Rey Carlsbad is a very nice and convenient hotel to stay in. We negotiated a special rate of $199/night 
	    for the attendees but you might still want to explore other options.
<ul>
<li><a href="https://www.ihg.com/holidayinnexpress/hotels/us/en/carlsbad/ocnes/hoteldetail">Holiday Inn Express</a> 
	(16 minutes walk)</li>
<li><a href="https://www.wyndhamhotels.com/ramada/carlsbad-california/ramada-carlsbad-by-the-sea/overview">Ramada by Wyndham</a> 
	(20 minutes walk)</li>
<li><a href="http://www.laquintacarlsbadca.com/">La Quinta Inn &amp; Suites</a> (20 minutes walk)</li>
<li><a href="https://www.omnihotels.com/hotels/san-diego-la-costa">Omnia La Costa Resort &amp; Spa</a> (15 minutes drive): 
	This is where <a href="https://www.usenix.org/conference/osdi18/">OSDI 2018</a> will be located.</li>
</ul>

<h2>Shopping and Dining</h2>
<p>Poinsettia Village is a nearby shopping center with many cuisine options. It is just within a walking distance from 
	the hotel and it has a pharmacy, a shipping center, two banks, and many restaurants with several cuisines including 
	American sub, burger, pizza, sushi, Chinese, Mexican, and others.</p>

<h2>Nearby Attractions</h2>
Souther California is one of the nicest places for a nice vacation and activities. Here are a few attractions around the hotel.
<ul class="attractions">
<li>
<div class="title">
<img src="assets/img/thebeach.jpg" />
<div class="name">The beach (Across the street)</div>
</div>
<p>Right across from the hotel, there is a publicly accessible and very nice beach that you can enjoy. 
	The beach is accessible from 7:00 AM to sunset. Be ready to take a long stair-case on your way to the beach.</p>
</li>
<li>
<div class="title">
<img src="assets/img/legoland.jpg" />
<div class="name"><a href="https://www.legoland.com/california/">LEGOLAND</a> (&lt;5 miles)</div>
</div>
The famous LEGOLAND Park is only 5 miles away from the conference. You can meet Emmet, Wyldstyle, 
	Lego Batman, and your other favorite characters.
</li>
	
<li>
   <div class="title">
	<img alt="Sea World" src="assets/img/seaworld.jpg" style="border:0px currentColor" width="200"/>
	<div class="name"><a href="https://seaworld.com/san-diego/">SeaWorld</a> (30 miles)</div>
   </div>
   SeaWorld is only 30 miles away and is right outside San Diego so you do not have to worry about major traffic on your way.
</li>
	
<li>
<div class="title">
<img src="assets/img/sandiegozoo.jpg"/>
<div class="name"><a href="http://zoo.sandiegozoo.org/">San Diego Zoo</a> (30 miles)</div>
</div>
With 100 acres and more than 650 species, San Diego Zoo is one of the largest zoos in the entire world. 
	San Diego Zoo is located in only 30 miles away and you can spend the entire day exploring the different species over there.
</li>
<li>
<div class="title">
<img src="assets/img/disneyland.jpg"/>
<div class="name"><a href="https://disneyland.disney.go.com/destinations/disneyland/">Disneyland Park</a> (70 miles)</div>
</div>
Established in 1955, Disneyland Park is one of the earliest theme parks in the world. Its icon Cinderella Castle, 
	is one of the most photographed structures in the United States. Disneyland is closer to Los Angeles but is worth the trip.
</li>
<li>
<div class="title">
<img src="assets/img/universal.jpg"/>
<div class="name"><a href="https://www.universalstudioshollywood.com/">Universal Studios</a> (104 miles)</div>
</div>
A trivia question: What do Kung Fu Panda (Master Po), Shrek, and the Minions have in common? Answer: They are all 
	at Universal Studios. In 2017, Universal Studios attracted more than nine million visitors which puts it ahead 
	of the Eiffel Tower in Paris.
</li>
<li>
<div class="title">
<img src="assets/img/walkoffame.jpg"/>
<div class="name"><a href="http://www.walkoffame.com/">Hollywood Walk of Fame</a> (102 miles)</div>
</div>
Do you want to find out if Donald Trump's star at Hollywood Walk of Fame is still there? You can go there and check out yourself. 
	You can also find your favorite star among 2,600 stars installed in the sidewalk. It is a little bit far away from the 
	conference venue so you would better combine it with other activities such as visiting The Getty.
</li>
<li>
<div class="title">
<img src="assets/img/thegetty.jpg"/>
<div class="name"><a href="http://www.getty.edu/">The Getty</a> (106 miles)</div>
</div>
Art, architecture, and gardens, all in one place. Admission is always free but you still have to pay for parking if you decide to drive.
</li>
</ul>

	    
	    
	    
	    
	    
   
	    
	    
      <div class="col-md-3">
         {% include latest-news.html %}
      </div><!-- /.col-md-3 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</div>
<!-- end Content -->
