---
layout: default
---

{% include slider.html content="<h2>Mentoring at SoCC</h2>" %}

<!-- Content -->
<div class="block">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        {%include important_dates.html%}
      </div><!-- /.col-md-3 -->

      <div class="col-md-6">
        <section id="main-content">
         <!-- edit here -->
          <header>
            <h1>Mentoring at SoCC</h1>
          </header>
          <div class="section-content">

            <p align="justify">
              This year at SOCC we are implementing a mentoring program that pairs up students with senior conference
              attendees. We expect the time committment to be minimal. We plan to assign at most 2 mentees per mentor,
              and the requirement is that you find a 30 to 60 minute slot for a 1-on-1 conversation at your convenience.
              We hope that the personalized mentorship experience will help make everyone feel connected and included in
              the SOCC conference and community.
            </p>

            <h3>Senior Attendees: Sign up <a
                href="https://docs.google.com/forms/d/15o60rYp769Ykg4DIsDjvvcP4j_Tne9wrxWT5iKrxkn4/" style="text-decoration: underline;"> here</a> to be a
                mentor! (Open to all non-student academia/industry attendees)
            </h3>
            <p align="justify">
              If you are willing to serve as a mentor then please sign up by October 12th.
              It would be a great favor to the students and the SOCC community, and help students feel more included and
              involved in these “online-only” times!
            </p>
            <p align="justify">
              We expect the responsibility for a mentor to be quite lightweight. We plan to assign at most two students
              per mentor. As such, there are no fixed meeting slots, you can synchronize your meetings with the assigned
              students during the conference at your convenience.
            </p>
            <p align="justify">
              In general, we hope that the personalized mentorship experience will help us to motivate the students, and
              make them feel connected and included in the SOCC conference and community.
            </p>


            <h3>Students: Sign up <a
                href="https://docs.google.com/forms/d/1PIKGC_oTo8snHP9XuACzEyoR2peN_0y2T2GJuJ-00uc/" style="text-decoration: underline;">>here</a> to be a
              mentee! </h3>
            <p align="justify">
              If you are a student and would like to have a mentor, please sign up by October 12th.
            </p>
            <p align="justify">
              You will be paired with a senior conference attendee where you can ask questions such as:
            </p>
            <p align="justify">
            <ul>
              <li>Feedback on thesis research </li>
              <li>Cloud/Systems research in general</li>
              <li>Career planning</li>
              <li>Relevant talks/people at the conference</li>
              <li>Advice for making the most of a conference, particularly an online one!</li>
            </ul>
            </p>
            <p align="justify">
              There are no fixed meeting slots. You can synchronize your meetings with your assigned mentor during the
              conference at your mutual convenience.
            </p>
            <!-- end edit block -->
          </div><!-- /.section-content -->
        </section><!-- /.main-content -->
      </div><!-- /.col-md-6 -->


      <div class="col-md-3">
        {% include latest-news.html %}
      </div><!-- /.col-md-3 -->

    </div><!-- /.row -->
  </div><!-- /.container -->
</div>
<!-- end Content -->
