---
layout: default
---

{% include slider-co.html %}

<!-- Content -->
<div class="block">
    <div class="container">
        <div class="row">
            <!--MAIN Content-->
            <div class="col-md-9">
                <div id="page-main">
                    <section id="members">
                        <header><h1>Conference Officers</h1></header>

                        <section id="general-chair">
                               <header><h2 class="no-divider">General chair</h2></header>
                            <div class="row">
                              <div class="col-md-6">
                                <div class="author-block course-speaker" style="padding:0; margin:0; border-bottom:none;">
				  <article class="paragraph-wrapper" style="padding-left:0;">
				    <div class="inner">
        
				      <header><a target="_blank" href="https://www.cs.washington.edu/people/faculty/magda">Magdalena Balazinska </a></header>
				      <figure>University of Washington and Google</figure>

				    </div>
				  </article>
				</div>
                              </div>
                            </div>
                        </section><!-- /#general-chair -->
                        
                        <section id="program-chairs">
                            <header><h2 class="no-divider">Program chairs</h2></header>
                            <div class="row">
                              <div class="col-md-6">
                                <div class="author-block course-speaker" style="padding:0; margin:0; border-bottom:none;">
				  <article class="paragraph-wrapper" style="padding-left:0;">
				    <div class="inner">
				      <header><a target="_blank" href="https://engineering.columbia.edu/faculty/roxana-geambasu">Roxana Geambasu</a></header>
				      <figure>Columbia University </figure>        
				    </div>
				  </article>
				</div><!-- /.author -->
                              </div>

                              <div class="col-md-6">
                                <div class="author-block course-speaker" style="padding:0; margin:0; border-bottom:none;">
				  <article class="paragraph-wrapper" style="padding-left:0;">
				    <div class="inner">

				      <header><a target="_blank" href="http://web.eecs.umich.edu/~mozafari/">Barzan Mozafari</a></header>
				      <figure>University of Michigan, Ann Arbor</figure>        
        
				    </div>
				  </article>
				</div><!-- /.author -->
                              </div>
                            </div> <!-- end row -->
                        </section><!-- /#program-chairs -->
			    
			<section id="industrial-chairs">
                            <header><h2 class="no-divider">Industrial chairs</h2></header>
                            <div class="row">
                              <div class="col-md-6">
                                <div class="author-block course-speaker" style="padding:0; margin:0; border-bottom:none;">
				  <article class="paragraph-wrapper" style="padding-left:0;">
				    <div class="inner">

				      <header><a target="_blank" href="https://www.microsoft.com/en-us/research/people/ccurino/">Carlo Curino</a></header>
				      <figure>Microsoft Research</figure>
        
				    </div>
				  </article>
				</div><!-- /.author -->
                              </div>

                              <div class="col-md-6">
                                <div class="author-block course-speaker" style="padding:0; margin:0; border-bottom:none;">
				  <article class="paragraph-wrapper" style="padding-left:0;">
				    <div class="inner">

				      <header><a target="_blank" href="https://www.linkedin.com/in/mehulashah/">Mehul Shah</a></header>
				      <figure>Amazon Web Service</figure>        
        
				    </div>
				  </article>
				</div><!-- /.author -->
                              </div>
                            </div> <!-- end row -->
                        </section><!-- /#industrial-chairs -->
						
			<section id="steering-committee">
                            <header><h2 class="no-divider">Steering committee</h2></header>
                            <div class="row">
				     <div class="col-md-6">
                                <div class="author-block course-speaker" style="padding:0; margin:0; border-bottom:none;">
				  <article class="paragraph-wrapper" style="padding-left:0;">
				    <div class="inner">

				      <header><a target="_blank" href="https://www.microsoft.com/en-us/research/people/ccurino/">Carlo Curino</a></header>
				      <figure>Microsoft Research</figure>
        
				    </div>
				  </article>
				</div><!-- /.author -->
                              </div>
                              <div class="col-md-6">
                                <div class="author-block course-speaker" style="padding:0; margin:0; border-bottom:none;">
				  <article class="paragraph-wrapper" style="padding-left:0;">
				    <div class="inner">
        
				      <header><a target="_blank" href="http://perspolis.usc.edu/Users/shahram/">Shahram Ghandeharizadeh</a></header>
				      <figure>University of Southern California</figure>

				    </div>
				  </article>
				</div>
                              </div>  
				    
				     <div class="col-md-6">
                                <div class="author-block course-speaker" style="padding:0; margin:0; border-bottom:none;">
				  <article class="paragraph-wrapper" style="padding-left:0;">
				    <div class="inner">
        
				      <header><a target="_blank" href="http://www.cs.cmu.edu/~gibbons/">Phillip B. Gibbons</a></header>
				      <figure>Carnegie Mellon University</figure>

				    </div>
				  </article>
				</div>
                              </div>

                              <div class="col-md-6">
                                <div class="author-block course-speaker" style="padding:0; margin:0; border-bottom:none;">
				  <article class="paragraph-wrapper" style="padding-left:0;">
				    <div class="inner">
        
				      <header><a target="_blank" href="http://www.cs.cornell.edu/~hweather/">Hakim Weatherspoon</a></header>
				      <figure>Cornell University</figure>

				    </div>
				  </article>
				</div><!-- /.author -->
                              </div>
                            </div><!-- /.row -->
                        </section><!-- /#steering-committee -->

			    
			    <!-- poster chairs -->
			<!--section id="program-chairs">
                            <header><h2 class="no-divider"> chairs</h2></header>
                            <div class="row">
                              <div class="col-md-6">
                                <div class="author-block course-speaker" style="padding:0; margin:0; border-bottom:none;">
				  <article class="paragraph-wrapper" style="padding-left:0;">
				    <div class="inner">

				      <header><a target="_blank" href="https://people.ucsc.edu/~palvaro">Peter Alvaro</a></header>
				      <figure>UC Santa Cruz</figure>
        
				    </div>
				  </article>
				</div>
                              </div>

                              <div class="col-md-6">
                                <div class="author-block course-speaker" style="padding:0; margin:0; border-bottom:none;">
				  <article class="paragraph-wrapper" style="padding-left:0;">
				    <div class="inner">

				      <header><a target="_blank" href="http://web.eecs.umich.edu/~barisk">Baris Kasikci</a></header>
				      <figure>University of Michigan</figure>        
        
				    </div>
				  </article>
				</div>
                              </div>
                            </div> 
                        </section--><!-- /#poster-chairs -->
			    
			    
			    
			    
                        <section id="local">
                          <div class="row">
                            <div class="col-md-6">
                              <header><h2 class="no-divider">Local arrangements chair</h2></header>
                                <div class="author-block course-speaker" style="padding:0; margin:0; border-bottom:none;">
  				<article class="paragraph-wrapper" style="padding-left:0;">
    				<div class="inner">    
        			<header><a target="_blank" href="https://researcher.watson.ibm.com/researcher/view.php?person=us-npansar">Niketan Pansare</a></header>
        			<figure>IBM Almaden Research Center</figure>
    				</div>
 				 </article>
				</div>
                            </div>
                          </div>
                        </section>
                   

                        <section id="treasurer">
                          <div class="row">
                            <div class="col-md-6">
                              <header><h2 class="no-divider">Treasurer</h2></header>
                              <div class="author-block course-speaker" style="padding:0; margin:0; border-bottom:none;">
 				 <article class="paragraph-wrapper" style="padding-left:0;">
 			   <div class="inner">
        
 			       <header><a target="_blank" href="https://stratos.seas.harvard.edu/">Stratos Idreos</a></header>
        
  			      <figure>Harvard University</figure>
 			   </div>
			  </article>
			</div>
                           </div>
                          </div>
                        </section>

			<section id="proceedings">
                            <header><h2 class="no-divider">Proceedings Chair</h2></header>
                            <div class="row">
                              <div class="col-md-6">
                                <div class="author-block course-speaker" style="padding:0; margin:0; border-bottom:none;">
  				<article class="paragraph-wrapper" style="padding-left:0;">
   				 <div class="inner">        
     				   <header><a target="_blank" href="https://www.linkedin.com/in/sumita-barahmand-60961a1b/">Sumita Barahmand</a></header>
       				<figure>Microsoft</figure>
    				</div>
  				</article>
				</div>
                              </div>    
                           </div>
                        </section><!-- /#Proceedings-chair -->
			    
			    
			<section id="publicity">
                            <header><h2 class="no-divider">Publicity chair and Webmaster</h2></header>
                            <div class="row">
                              <div class="col-md-6">
                                <div class="author-block course-speaker" style="padding:0; margin:0; border-bottom:none;">
                		 <article class="paragraph-wrapper" style="padding-left:0;">
    				<div class="inner">
        
      				  <header><a target="_blank" href="http://www.cs.brandeis.edu/~olga/">Olga Papaemmanouil </a></header>
        
       				 <figure>Brandeis University</figure>
    				</div>
  				</article>
				</div>
                              </div>
                            </div>
                        </section>
			    
			<!--section id="publication">
                          <header><h2 class="no-divider">Publication chair</h2></header>
                          <div class="row">
                            <div class="col-md-6">
                              <div class="author-block course-speaker" style="padding:0; margin:0; border-bottom:none;">
  				<article class="paragraph-wrapper" style="padding-left:0;">
    				  <div class="inner">
        
        			    <header><a target="_blank" href="https://interesaaat.github.io">Matteo Interlandi</a></header>
                		    <figure>Microsoft Research</figure>
    				  </div>
 				</article>
			      </div>
                            </div>
                          </div>
                        </section-->
				    
                        <section id="scholarship-chairs">
                          <header><h2 class="no-divider">Scholarship Chairs</h2></header>
                          <div class="row">
                            <div class="col-md-6">
                              <div class="author-block course-speaker" style="padding:0; margin:0; border-bottom:none;">
				<article class="paragraph-wrapper" style="padding-left:0;">
				  <div class="inner">

				    <header><a target="_blank" href="https://www.soe.ucsc.edu/people/nawab">Faisal Nawab</a></header>
				    <figure>University of California Santa Cruz </figure>

				  </div>
				</article>
			      </div>
				  </div>
			  <div class="col-md-6">
                                <div class="author-block course-speaker" style="padding:0; margin:0; border-bottom:none;">
				  <article class="paragraph-wrapper" style="padding-left:0;">
				    <div class="inner">

				       <header><a target="_blank" href="https://odin.cse.buffalo.edu/people/oliver_kennedy.html">Oliver Kennedy</a></header>
       				<figure>SUNY Buffalo</figure>       
        
				    </div>
				  </article>
				</div><!-- /.author -->
                              </div>
                            </div> <!-- end row -->
                        </section><!-- /#scholarship-chairs -->
				
				  
			<section id="socialmedia">
                          <header><h2 class="no-divider">Social Media Chair</h2></header>
                          <div class="row">
                            <div class="col-md-6">
                              <div class="author-block course-speaker" style="padding:0; margin:0; border-bottom:none;">
  				<article class="paragraph-wrapper" style="padding-left:0;">
    				  <div class="inner">
        
        			    <header><a target="_blank" href="https://people.umass.edu/shastri">Supreeth Shastri</a></header>
                		    <figure>University of Massachusetts, Amherst</figure>
    				  </div>
 				</article>
			      </div>
                            </div>
                          </div>
                        </section>

			<!--section id="webmaster">
                          <header><h2 class="no-divider">Webmaster</h2></header>
                          <div class="row">
                            <div class="col-md-6">
                              <div class="author-block course-speaker" style="padding:0; margin:0; border-bottom:none;">
				<article class="paragraph-wrapper" style="padding-left:0;">
				  <div class="inner">
				    <header><a target="_blank" href="http://alumni.cs.ucr.edu/~kishore/">Kishore Pusukuri</a></header>
				    <figure>NetApp</figure>
				  </div>
				</article>
			      </div>
			    </div>
			  </div>
			</section-->

                </div><!-- /#page-main -->
            </div><!-- /.col-md-6 -->

            <!--SIDEBAR Content-->

            <div class="col-md-3">
		    
		     {% include latest-news.html %}
		<!--		    
              <section class="news-small" id="news-small">

  		<header>
   			 <h2>Latest news</h2>
  			</header>
 			 <div class="section-content">
			<a class="twitter-timeline" href="https://twitter.com/acmsocc2017">Tweets by acmsocc2017</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
	

			</section>
				-->		    

            </div><!-- /.col-md-3 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div>
<!-- end Content -->
