---
layout: default
---

{% include slider-poster-schedule.html %}

<!-- Content -->
<div class="block">
  <div class="container">
    <div class="row">

      <div class="col-md-9">
        <section id="main-content">
          <div class="section-content">

		  
		  
<header>
	<h2 style="color:SteelBlue;">Poster session I (Thursday, October 11th) <br> 
	<font style="color:black;font-size:60%;">Location: Shearwater 4-5 
        <!-- 
 	(<a style="color:darkblue;text-decoration:underline;" href="assets/img/posterlayout.pdf">Poster layout</a>)
	-->
	</font> 
	</h2>
</header>

<h4 class="talk-title">
	<!--<a href="https://dl.acm.org/authorize?N46807"> -->
	<a href=""> 
	(1) Scheduling CPU for GPU-based Deep Learning Jobs 
	</a>
</h4>
<p class="course-meta" style="line-height:18px;">
	Wencong Xiao (Beihang University & Microsoft Research); Zhenhua Han (The University of Hong Kong & Microsoft Research); 
	Hanyu Zhao (Peking University & Microsoft Research); Xuan Peng (Huazhong University of Science and Technology 
	& Microsoft Research); Quanlu Zhang (Microsoft Research); Fan Yang (Microsoft Research); 
	Lidong Zhou (Microsoft Research)
</p>

<h4 class="talk-title">
	<a href=""> 
	(2) Application-Agnostic Batch Workload Management in Cloud Environments
	</a>
</h4>
<p class="course-meta" style="line-height:18px;">
	Seyyed Ahmad Javadi (Stony Brook University); Anshul Gandhi (Stony Brook University); 
	Shalini Bhaskara (Stony Brook University); Rahul Doshi (Stony Brook University); 
	Prashanth Soundarapandian (Stony Brook University); Muhammad Wajahat (Stony Brook University)
</p>

<h4 class="talk-title">
	<a href=""> 
	(3) Decentralized Distributed Deep Learning in Heterogeneous WAN Environments
	</a>
</h4>
<p class="course-meta" style="line-height:18px;">
	Rankyung Hong(University of Minnesota); Abhishek Chandra(University of Minnesota)
</p>		 
	
<h4 class="talk-title">
	<a href=""> 
	(4) Resource Profile Advisor for Containers in Cognitive Platform
	</a>
</h4>
<p class="course-meta" style="line-height:18px;">
	Mehmet F. Aktas(Rutgers University); Chen Wang(IBM Thomas J. Watson Research Center); 
	Alaa Youssef(IBM Thomas J. Watson Research Center); Malgorzata Steinder(IBM Thomas J. Watson Research Center)
</p>		  

<h4 class="talk-title">
	<a href=""> 
	(5) Secure In-memory Key-Value Storage with SGX
	</a>
</h4>
<p class="course-meta" style="line-height:18px;">
	Taehoon Kim(KAIST); Joongun Park(KAIST); Jaewook Woo(KAIST); Seungheun Jeon(KAIST); Jaehyuk Huh(KAIST)
</p>	

<h4 class="talk-title">
	<a href=""> 
	(6) Untethered: Deployable Blockchains for IoT Environments
	</a>
</h4>
<p class="course-meta" style="line-height:18px;">
	Kolbeinn Karlsson(Cornell University); Danny Adams(Cornell University); Gloire Rubambiza(Cornell University); 
	Zangyueyang Xian(Cornell University); Robbert van Renesse(Cornell University); Hakim Weatherspoon(Cornell University); 
	Stephen Wicker(Cornell University)
</p>	

<h4 class="talk-title">
	<a href=""> 
	(7) Does your fault-tolerant system tolerate faults?
	</a>
</h4>
<p class="course-meta" style="line-height:18px;">
	Kamala Ramasubramanian(University of California, Santa Cruz); Peter Alvaro(University of California, Santa Cruz)
</p>	

		  
<h4 class="talk-title">
	<a href=""> 
	(8) SLO Computational Sprinting
	</a>
</h4>
<p class="course-meta" style="line-height:18px;">
	Nathaniel Morris(The Ohio State University); Indrajeet Saravanan(The Ohio State University); 
	Pollyanna Cao(The Ohio State University); Jerry Ding(The Ohio State University); 
	Christopher Stewart(The Ohio State University)
</p>	
		  
<h4 class="talk-title">
	<a href=""> 
	(9) SSD QoS Improvements through Machine Learning
	</a>
</h4>
<p class="course-meta" style="line-height:18px;">
	Chandranil Chakraborttii(University of California, Santa Cruz); Vikas Sinha(Samsung Semiconductors Inc.); 
	Heiner Litz(University of California, Santa Cruz)
</p>	
	
		  
<h4 class="talk-title">
	<a href=""> 
	(10) Auto-Scaling with Apprenticeship Learning
	</a>
</h4>
<p class="course-meta" style="line-height:18px;">
	Kamal Hakimzadeh(KTH - Royal Institute of Technology); Pat Nicholson(Nokia Bell Labs); Diego Lugones(Nokia Bell Labs)
</p>		 
	

<h4 class="talk-title">
	<a href=""> 
	(11) Rejig: A Scalable Online Algorithm for Cache Server Configuration Changes
	</a>
</h4>
<p class="course-meta" style="line-height:18px;">
	Shahram Ghandeharizadeh(University of Southern California); Marwan Almaymoni(University of Southern California); 
	Haoyu Huang(University of Southern California)
</p>
		  

<h4 class="talk-title">
	<a href=""> 
	(12) RangeQC: A Framework for Caching Range Predicate Query Results
	</a>
</h4>
<p class="course-meta" style="line-height:18px;">	
		  
</p>
		  
<h4 class="talk-title">
<a href=""> 
	(13) Scalable and Reliable RDMA
	</a>
</h4>
<p class="course-meta" style="line-height:18px;">	
	Youmin Chen(Tsinghua University); Jiwu Shu(Tsinghua University); Youyou Lu(Tsinghua University)	  
</p>	  
	
<h4 class="talk-title">
<a href=""> 
	(14) Network Scheduling in the Dark
</a>
</h4>
<p class="course-meta" style="line-height:18px;">	
	Vojislav Dukic(ETH Zurich); Sangeetha Abdu Jyothi(University of Illinois at Urbana–Champaign); 
	Bojan Karlas(ETH Zurich); Muhsen Owaida(ETH Zurich); Ce Zhang(ETH Zurich); Ankit Singla(ETH Zurich)
</p>	 
		  
<h4 class="talk-title">
<a href=""> 
	(15) Elastic Provisioning of Cloud Caches: a Cost-aware TTL Approach
</a>
</h4>
<p class="course-meta" style="line-height:18px;">	
	Damiano Carra(University of Verona); Giovanni Neglia(Inria); Pietro Michiardi(Eurecom)
</p>	 		
	
		  
<h4 class="talk-title">
<a href=""> 
	(16) High-Performance Multi-Rail Erasure Coding Library over Modern Data Center Architectures: Early Experiences
</a>
</h4>
<p class="course-meta" style="line-height:18px;">	
	Haiyang Shi(The Ohio State University); Xiaoyi Lu(The Ohio State University); Dipti Shankar(The Ohio State University);
	Dhabaleswar K. (DK) Panda(The Ohio State University)
</p>	
		  
		  
<h4 class="talk-title">
<a href=""> 
	(17) Energy-aware and Machine Learning-based Resource Provisioning of In-Memory Analytics on Cloud
</a>
</h4>
<p class="course-meta" style="line-height:18px;">	
	Hosein Mohammadi Makrani(George Mason University); Hossein Sayadi(George Mason University); 
	Devang Motwani(George Mason University); Han Wang(George Mason University); Setareh Rafatirad(George Mason University);
	Houman Homayoun(George Mason University)
</p>	
		  
<!-- SECOND DAY FROM HERE -->
<!-- SECOND DAY FROM HERE -->
<!-- SECOND DAY FROM HERE -->
<!-- SECOND DAY FROM HERE -->
<!-- SECOND DAY FROM HERE -->
<!-- SECOND DAY FROM HERE -->
<!-- SECOND DAY FROM HERE -->


<header>
	<h2 style="color:SteelBlue;">Poster session II (Friday, October 12th)<br> 
	<font style="color:black;font-size:60%;">Location: Shearwater 4-5 
        <!-- 
 	(<a style="color:darkblue;text-decoration:underline;" href="assets/img/posterlayout.pdf">Poster layout</a>)
	-->
	</font>
	</h2>
</header>

<h4 class="talk-title">
<a href=""> 
	(18) Multi-tenant Isolation of What? Building a Secure Tenant Isolation Architecture for Cloud Networks
</a>
</h4>
<p class="course-meta" style="line-height:18px;">	
	Bruno Medeiros(École normale supérieure); Marcos A. Simplicio Jr.(Universidade de São Paulo); 
	Ewerton R. Andrade(Instituto Federal de Rondônia)
</p>	  

<h4 class="talk-title">
<a href=""> 
	(19) Plumb: Efficient Processing of Multi-Users Pipelines
</a>
</h4>
<p class="course-meta" style="line-height:18px;">	
	Abdul Qadeer(USC / ISI); John Heidemann(USC / ISI)
</p>	
		  

<h4 class="talk-title">
<a href=""> 
	(20) WITCAT: A Workload Spike Targeted Cloud Management Solution
</a>
</h4>
<p class="course-meta" style="line-height:18px;">	
	Junjie Chen(College of Systems Engineering, National University of Defense Technology); 
	Xiaomin Zhu(College of Systems Engineering, National University of Defense Technology); 
	Weidong Bao(College of Systems Engineering, National University of Defense Technology); 
	Zhong Liu(College of Systems Engineering, National University of Defense Technology); 
	Ling Liu(College of Computing, Georgia Institute of Technology)
</p>		  

		  
<h4 class="talk-title">
<a href=""> 
	(21) Fast Distributed Deep Learning via Worker-adaptive Batch Sizing
</a>
</h4>
<p class="course-meta" style="line-height:18px;">	
	Chen Chen(Hong Kong University of Science and Technology); Qizhen Weng(Hong Kong University of Science and Technology);
	Wei Wang(Hong Kong University of Science and Technology); Baochun Li(University of Toronto); 
	Bo Li(Hong Kong University of Science and Technology)
</p>
		  
		  
          </div><!-- /.section-content -->
        </section><!-- /.main-content -->
      </div><!-- /.col-md-6 -->

      <div class="col-md-3">
        {% include latest-news.html %}
      </div><!-- /.col-md-3 -->

    </div><!-- /.row -->
  </div><!-- /.container -->
</div>
<!-- end Content -->
