---
layout: default
---

{% include slider-poster-schedule.html %}

<!-- Content -->
<div class="block">
  <div class="container">
    <div class="row">

      <div class="col-md-9">
        <section id="main-content">
          <div class="section-content">

		  
		  
<header>
	<h2 style="color:SteelBlue;">Poster session I (Thursday, October 11th) <br> 
	<font style="color:black;font-size:60%;">Location: Shearwater 4-5 
        <!-- 
 	(<a style="color:darkblue;text-decoration:underline;" href="assets/img/posterlayout.pdf">Poster layout</a>)
	-->
	</font> 
	</h2>
</header>

<h4 class="talk-title">
	<!--<a href="https://dl.acm.org/authorize?N46807"> -->
	<a href=""> 
	(1) Scheduling CPU for GPU-based Deep Learning Jobs 
	</a>
</h4>
<p class="course-meta" style="line-height:18px;">
	Wencong Xiao (Beihang University & Microsoft Research); Zhenhua Han (The University of Hong Kong & Microsoft Research); 
	Hanyu Zhao (Peking University & Microsoft Research); Xuan Peng (Huazhong University of Science and Technology 
	& Microsoft Research); Quanlu Zhang (Microsoft Research); Fan Yang (Microsoft Research); 
	Lidong Zhou (Microsoft Research)
</p>

<h4 class="talk-title">
	<a href=""> 
	(2) Application-Agnostic Batch Workload Management in Cloud Environments
	</a>
</h4>
<p class="course-meta" style="line-height:18px;">
	Seyyed Ahmad Javadi (Stony Brook University); Anshul Gandhi (Stony Brook University); 
	Shalini Bhaskara (Stony Brook University); Rahul Doshi (Stony Brook University); 
	Prashanth Soundarapandian (Stony Brook University); Muhammad Wajahat (Stony Brook University)
</p>

<h4 class="talk-title">
	<a href=""> 
	(3) Decentralized Distributed Deep Learning in Heterogeneous WAN Environments
	</a>
</h4>
<p class="course-meta" style="line-height:18px;">
	Rankyung Hong(University of Minnesota); Abhishek Chandra(University of Minnesota)
</p>		 
	
<h4 class="talk-title">
	<a href=""> 
	(4) Resource Profile Advisor for Containers in Cognitive Platform
	</a>
</h4>
<p class="course-meta" style="line-height:18px;">
	Mehmet F. Aktas(Rutgers University); Chen Wang(IBM Thomas J. Watson Research Center); 
	Alaa Youssef(IBM Thomas J. Watson Research Center); Malgorzata Steinder(IBM Thomas J. Watson Research Center)
</p>		  

<h4 class="talk-title">
	<a href=""> 
	(5) Secure In-memory Key-Value Storage with SGX
	</a>
</h4>
<p class="course-meta" style="line-height:18px;">
	Taehoon Kim(KAIST); Joongun Park(KAIST); Jaewook Woo(KAIST); Seungheun Jeon(KAIST); Jaehyuk Huh(KAIST)
</p>	

<h4 class="talk-title">
	<a href=""> 
	(6) Untethered: Deployable Blockchains for IoT Environments
	</a>
</h4>
<p class="course-meta" style="line-height:18px;">
	Kolbeinn Karlsson(Cornell University); Danny Adams(Cornell University); Gloire Rubambiza(Cornell University); 
	Zangyueyang Xian(Cornell University); Robbert van Renesse(Cornell University); Hakim Weatherspoon(Cornell University); 
	Stephen Wicker(Cornell University)
</p>	

<h4 class="talk-title">
	<a href=""> 
	(7) Does your fault-tolerant system tolerate faults?
	</a>
</h4>
<p class="course-meta" style="line-height:18px;">
	Kamala Ramasubramanian(University of California, Santa Cruz); Peter Alvaro(University of California, Santa Cruz)
</p>	

		  
<h4 class="talk-title">
	<a href=""> 
	(8) SLO Computational Sprinting
	</a>
</h4>
<p class="course-meta" style="line-height:18px;">
	Nathaniel Morris(The Ohio State University); Indrajeet Saravanan(The Ohio State University); 
	Pollyanna Cao(The Ohio State University); Jerry Ding(The Ohio State University); 
	Christopher Stewart(The Ohio State University)
</p>	
		  
<h4 class="talk-title">
	<a href=""> 
	(9) SSD QoS Improvements through Machine Learning
	</a>
</h4>
<p class="course-meta" style="line-height:18px;">
	Chandranil Chakraborttii(University of California, Santa Cruz); Vikas Sinha(Samsung Semiconductors Inc.); 
	Heiner Litz(University of California, Santa Cruz)
</p>	
	
		  
<h4 class="talk-title">
	<a href=""> 
	(10) Auto-Scaling with Apprenticeship Learning
	</a>
</h4>
<p class="course-meta" style="line-height:18px;">
	Kamal Hakimzadeh(KTH - Royal Institute of Technology); Pat Nicholson(Nokia Bell Labs); Diego Lugones(Nokia Bell Labs)
</p>		 
	

<h4 class="talk-title">
	<a href=""> 
	(11) Rejig: A Scalable Online Algorithm for Cache Server Configuration Changes
	</a>
</h4>
<p class="course-meta" style="line-height:18px;">
	Shahram Ghandeharizadeh(University of Southern California); Marwan Almaymoni(University of Southern California); 
	Haoyu Huang(University of Southern California)
</p>
		  

<h4 class="talk-title">
	<a href=""> 
	(12) RangeQC: A Framework for Caching Range Predicate Query Results
	</a>
</h4>
<p class="course-meta" style="line-height:18px;">	
	Shahram Ghandeharizadeh(University of Southern California); Marwan Almaymoni(University of Southern California); 
	Haoyu Huang(University of Southern California)
</p>
		  
<h4 class="talk-title">
<a href=""> 
	(13) Scalable and Reliable RDMA
	</a>
</h4>
<p class="course-meta" style="line-height:18px;">	
	Youmin Chen(Tsinghua University); Jiwu Shu(Tsinghua University); Youyou Lu(Tsinghua University)	  
</p>	  
	
<h4 class="talk-title">
<a href=""> 
	(14) Network Scheduling in the Dark
</a>
</h4>
<p class="course-meta" style="line-height:18px;">	
	Vojislav Dukic(ETH Zurich); Sangeetha Abdu Jyothi(University of Illinois at Urbana–Champaign); 
	Bojan Karlas(ETH Zurich); Muhsen Owaida(ETH Zurich); Ce Zhang(ETH Zurich); Ankit Singla(ETH Zurich)
</p>	 
		  
<h4 class="talk-title">
<a href=""> 
	(15) Elastic Provisioning of Cloud Caches: a Cost-aware TTL Approach
</a>
</h4>
<p class="course-meta" style="line-height:18px;">	
	Damiano Carra(University of Verona); Giovanni Neglia(Inria); Pietro Michiardi(Eurecom)
</p>	 		
	
		  
<h4 class="talk-title">
<a href=""> 
	(16) High-Performance Multi-Rail Erasure Coding Library over Modern Data Center Architectures: Early Experiences
</a>
</h4>
<p class="course-meta" style="line-height:18px;">	
	Haiyang Shi(The Ohio State University); Xiaoyi Lu(The Ohio State University); Dipti Shankar(The Ohio State University);
	Dhabaleswar K. (DK) Panda(The Ohio State University)
</p>	
		  
<h4 class="talk-title">
<a href=""> 
	(17) GraPU: Accelerate Streaming Graph Analysis through Preprocessing Buffered Updates
</a>
</h4>
<p class="course-meta" style="line-height:18px;">	
	Feng Sheng(Huazhong University of Science and Technology); Qiang Cao(Huazhong University of Science and Technology); 
	Haoran Cai(Huazhong University of Science and Technology); Jie Yao(Huazhong University of Science and Technology); 
	Changsheng Xie(Huazhong University of Science and Technology)
</p>
<h4 class="talk-title">
<a href=""> 
	(18) Dynamic and Decentralized Global Analytics via Machine Learning
</a>
</h4>
<p class="course-meta" style="line-height:18px;">	
	Hao Wang(University of Toronto); Di Niu(University of Alberta); Baochun Li(University of Toronto)
</p>
<h4 class="talk-title">
<a href=""> 
	(19) ScootR: Scaling R Dataframes on Dataflow Systems
</a>
</h4>
<p class="course-meta" style="line-height:18px;">	
	Andreas Kunft(Technische Universität Berlin); Lukas Stadler(Oracle Labs); Daniele Bonetta(Oracle Labs); 
	Cosmin Basca(Oracle Labs); Jens Meiners(Technische Universität Berlin); Sebastian Breß(DFKI GmbH); 
	Tilmann Rabl(Technische Universität Berlin); Juan Fumero(The University of Manchester); 
	Volker Markl(Technische Universität Berlin)
</p>
<h4 class="talk-title">
<a href=""> 
	(20) RIOS: Runtime Integrated Optimizer for Spark
</a>
</h4>
<p class="course-meta" style="line-height:18px;">	
	Youfu Li(University of California, Los Angeles); Mingda Li(University of California, Los Angeles); 
	Ling Ding(University of California, Los Angeles); Matteo Interlandi(Microsoft, Inc.)
</p>
<h4 class="talk-title">
<a href=""> 
	(21) Sprocket: A Serverless Video Processing Framework
</a>
</h4>
<p class="course-meta" style="line-height:18px;">	
	Lixiang Ao(); Liz Izhikevich(); Geoffrey M. Voelker(); George Porter()
</p>
<h4 class="talk-title">
<a href=""> 
	(22) VIP: Virtual Performance-State for Efficient Power Management of Virtual Machines
</a>
</h4>
<p class="course-meta" style="line-height:18px;">	
	Ki-Dong Kang(DGIST); Mohammand Alian(UIUC); Daehoon Kim(DGIST); Jaehyuk Huh(KAIST); Nam Sung Kim(UIUC)
</p>
<h4 class="talk-title">
<a href=""> 
	(23) Continuum: A Platform for Cost-Aware, Low-Latency Continual Learning
</a>
</h4>
<p class="course-meta" style="line-height:18px;">	
	Huangshi Tian(Hong Kong University of Science and Technology); Minchen Yu(Hong Kong University of Science and Technology); 
	Wei Wang(Hong Kong University of Science and Technology)
</p>
<h4 class="talk-title">
<a href=""> 
	(24) Stratus: cost-aware container scheduling in the public cloud
</a>
</h4>
<p class="course-meta" style="line-height:18px;">	
	Andrew Chung(Carnegie Mellon University); Jun Woo Park(Carnegie Mellon University); 
	Gregory R. Ganger(Carnegie Mellon University)
</p>
<h4 class="talk-title">
<a href=""> 
	(25) Fast and Accurate Load Balancing for Geo-Distributed Storage Systems
</a>
</h4>
<p class="course-meta" style="line-height:18px;">	
	Kirill L. Bogdanov(KTH Royal Institute of Technology); 
	Waleed Reda(Universite catholique de Louvain / KTH Royal Institute of Technology); 
	Gerald Q. Maguire Jr.(KTH Royal Institute of Technology); Dejan Kostic(KTH Royal Institute of Technology); 
	Marco Canini(KAUST)
</p>
<h4 class="talk-title">
<a href=""> 
	(26) Pay One, Get Hundreds for Free: Reducing Cloud Costs through Shared Query Execution
</a>
</h4>
<p class="course-meta" style="line-height:18px;">	
	Renato Marroquín(ETH Zurich); Ingo Müller(ETH Zurich); Darko Makreshanski(OracleLabs); Gustavo Alonso(ETH Zurich)
</p>
<h4 class="talk-title">
<a href=""> 
	(27) Overload Control for Scaling WeChat Microservices
</a>
</h4>
<p class="course-meta" style="line-height:18px;">	
	Hao Zhou(Tencent Inc.); Ming Chen(Tencent Inc.); Qian Lin(National University of Singapore); Yong Wang(Tencent Inc.); 
	Xiaobin She(Tencent Inc.); Sifan Liu(Tencent Inc.); Rui Gu(Columbia University); 
	Beng Chin Ooi(National University of Singapore); Junfeng Yang(Columbia University)
</p>
<h4 class="talk-title">
<a href=""> 
	(28) An Efficient Memory-Mapped Key-Value Store for Flash Storage
</a>
</h4>
<p class="course-meta" style="line-height:18px;">	
	Anastasios Papagiannis(Institute of Computer Science, FORTH); Giorgos Saloustros(Institute of Computer Science, FORTH); 
	Pilar González-Férez(Department of Computer Engineering, University of Murcia); 
	Angelos Bilas(Institute of Computer Science, FORTH)
</p>
<h4 class="talk-title">
<a href=""> 
	(29) RoGUE: RDMA over Generic Unconverged Ethernet
</a>
</h4>
<p class="course-meta" style="line-height:18px;">	
	Yanfang Le(University of Wisconsin-Madison); Brent Stephens(University of Illinois at Chicago); 
	Arjun Singhvi(University of Wisconsin-Madison); Aditya Akella(University of Wisconsin-Madison); 
	Michael M. Swift(University of Wisconsin-Madison)
</p>
<h4 class="talk-title">
<a href=""> 
	(30) Netco: Cache and I/O Management for Analytics over Disaggregated Stores
</a>
</h4>
<p class="course-meta" style="line-height:18px;">	
	Virajith Jalaparti(Microsoft); Chris Douglas(Microsoft); Mainak Ghosh(University of Illinois, Urbana-Champaign); 
	Ashvin Agrawal(Microsoft); Avrilia Floratou(Microsoft); Srikanth Kandula(Microsoft); Ishai Menache(Microsoft); 
	Joseph (Seffi) Naor(Technion); Sriram Rao(Facebook Inc.)
</p>
<h4 class="talk-title">
<a href=""> 
	(31) IONN: Incremental Offloading of Neural Network Computations from Mobile Devices to Edge Servers
</a>
</h4>
<p class="course-meta" style="line-height:18px;">	
	Hyuk-Jin Jeong(Seoul National University); Hyeon-Jae Lee(Seoul National University); 
	Chang Hyun Shin(Seoul National University); Soo-Mook Moon(Seoul National University)
</p>
<h4 class="talk-title">
<a href=""> 
	(32) SifrDB: A Unified Solution for Write-Optimized Key-Value Stores in Large Datacenter
</a>
</h4>
<p class="course-meta" style="line-height:18px;">	
	Fei Mei(Huazhong University of Science and Technology); Qiang Cao(Huazhong University of Science and Technology); 
	Hong Jiang(University of Texas at Arlington); Jingjun Li(Huazhong University of Science and Technology)
</p>
<!-- SECOND DAY FROM HERE -->
<!-- SECOND DAY FROM HERE -->
<!-- SECOND DAY FROM HERE -->
<!-- SECOND DAY FROM HERE -->
<!-- SECOND DAY FROM HERE -->
<!-- SECOND DAY FROM HERE -->
<!-- SECOND DAY FROM HERE -->


<header>
	<h2 style="color:SteelBlue;">Poster session II (Friday, October 12th)<br> 
	<font style="color:black;font-size:60%;">Location: Shearwater 4-5 
        <!-- 
 	(<a style="color:darkblue;text-decoration:underline;" href="assets/img/posterlayout.pdf">Poster layout</a>)
	-->
	</font>
	</h2>
</header>

<h4 class="talk-title">
<a href=""> 
	(33) Multi-tenant Isolation of What? Building a Secure Tenant Isolation Architecture for Cloud Networks
</a>
</h4>
<p class="course-meta" style="line-height:18px;">	
	Bruno Medeiros(École normale supérieure); Marcos A. Simplicio Jr.(Universidade de São Paulo); 
	Ewerton R. Andrade(Instituto Federal de Rondônia)
</p>	  

<h4 class="talk-title">
<a href=""> 
	(34) Plumb: Efficient Processing of Multi-Users Pipelines
</a>
</h4>
<p class="course-meta" style="line-height:18px;">	
	Abdul Qadeer(USC / ISI); John Heidemann(USC / ISI)
</p>	
		  

<h4 class="talk-title">
<a href=""> 
	(35) WITCAT: A Workload Spike Targeted Cloud Management Solution
</a>
</h4>
<p class="course-meta" style="line-height:18px;">	
	Junjie Chen(College of Systems Engineering, National University of Defense Technology); 
	Xiaomin Zhu(College of Systems Engineering, National University of Defense Technology); 
	Weidong Bao(College of Systems Engineering, National University of Defense Technology); 
	Zhong Liu(College of Systems Engineering, National University of Defense Technology); 
	Ling Liu(College of Computing, Georgia Institute of Technology)
</p>		  

		  
<h4 class="talk-title">
<a href=""> 
	(36) Fast Distributed Deep Learning via Worker-adaptive Batch Sizing
</a>
</h4>
<p class="course-meta" style="line-height:18px;">	
	Chen Chen(Hong Kong University of Science and Technology); Qizhen Weng(Hong Kong University of Science and Technology);
	Wei Wang(Hong Kong University of Science and Technology); Baochun Li(University of Toronto); 
	Bo Li(Hong Kong University of Science and Technology)
</p>
<h4 class="talk-title">
<a href=""> 
	(37) Experimental Evaluation of Sketching Techniques for Big Spatial Data
</a>
</h4>
<p class="course-meta" style="line-height:18px;">	
	A. B. Siddique(University of California, Riverside); Ahmed Eldawy(University of California, Riverside)
</p>

<h4 class="talk-title">
<a href=""> 
	(38) Mnemo: Boosting Memory Cost Efficiency in Hybrid Memory Systems
</a>
</h4>
<p class="course-meta" style="line-height:18px;">	
	Thaleia Dimitra Doudali(Georgia Institute of Technology); Ada Gavrilovska(Georgia Institute of Technology)
</p>
<h4 class="talk-title">
<a href=""> 
	(39) The Curious Case of Container Orchestration and Scheduling in GPU-based Datacenters
</a>
</h4>
<p class="course-meta" style="line-height:18px;">	
	Prashanth Thinakaran(Penn State); Jashwant Raj Gunasekaran(Penn State); Bikash Sharma(Facebook); 
	Mahmut T. Kandemir(Penn State); Chita R. Das(Penn State)
</p>
<h4 class="talk-title">
<a href=""> 
	(40) ShadeNF: A Platform for Online Network Function Veri cation
</a>
</h4>
<p class="course-meta" style="line-height:18px;">	
	Yu Sun(Binghamton University); Hui Lu(Binghamton University); Abhinav Srivastava(Frame.io); 
	Cong Xu(IBM Research Austin)
</p>
<h4 class="talk-title">
<a href=""> 
	(41) Henge: Intent-driven Multi-Tenant Stream Processing
</a>
</h4>
<p class="course-meta" style="line-height:18px;">	
	Faria Kalim(University of Illinois at Urbana Champaign); Le Xu(University of Illinois at Urbana Champaign); 
	Sharanya Bathey(Amazon.com Services, Inc.); Richa Meherwal(phData, Inc.); 
	Indranil Gupta(University of Illinois at Urbana Champaign)
</p>
<h4 class="talk-title">
<a href=""> 
	(42) Kairos: Preemptive Data Center Scheduling Without Runtime Estimates
</a>
</h4>
<p class="course-meta" style="line-height:18px;">	
	Pamela Delgado(EPFL); Diego Didona(EPFL); Florin Dinu(EPFL and University of Sydney); 
	Willy Zwaenepoel(EPFL and University of Sydney)
</p>
<h4 class="talk-title">
<a href=""> 
	(43) Data-Driven Resource Shaping for Compute Clusters
</a>
</h4>
<p class="course-meta" style="line-height:18px;">	
	Francesco Pace(Eurecom); Dimitrios Milios(Eurecom); Damiano Carra(University of Verona); Daniele Venzano(Eurecom); 
	Pietro Michiardi(Eurecom)
</p>
<h4 class="talk-title">
<a href=""> 
	(44) Drishti: Disaggregated and Interoperable Security Analytics Framework for Cloud
</a>
</h4>
<p class="course-meta" style="line-height:18px;">	
	Shripad Nadgowda(IBM Research); Canturk Isci(IBM Research)
</p>
<h4 class="talk-title">
<a href=""> 
	(45) Memory-Oriented Distributed Computing at Rack Scale
</a>
</h4>
<p class="course-meta" style="line-height:18px;">	
	Haris Volos(Google); Kimberly Keeton(Hewlett Packard Labs); Yupu Zhang(Google); 
	Milind Chabbi(Scalable Machines Research); Se Kwon Lee(University of Texas at Austin); 
	Mark Lillibridge(Facebook); Yuvraj Patel(University of Wisconsin, Madison); Wei Zhang(Microsoft)
</p>
<h4 class="talk-title">
<a href=""> 
	(46) iQCAR: Inter-Query Contention Analyzer
</a>
</h4>
<p class="course-meta" style="line-height:18px;">	
	Prajakta Kalmegh(Duke University); Shivnath Babu(Duke University); Sudeepa Roy(Duke University)
</p>
<h4 class="talk-title">
<a href=""> 
	(47) A ML-based Runtime System for Executing Dataflow Graphs on Heterogeneous Processors
</a>
</h4>
<p class="course-meta" style="line-height:18px;">	
	Subho S Banerjee(University of Illinois at Urbana-Champaign); 
	Arjun P Athreya(University of Illinois at Urbana-Champaign); 
	Zbigniew Kalbarczyk(University of Illinois at Urbana-Champaign); 
	Steven Lumetta(University of Illinois at Urbana-Champaign); 
	Ravishankar K Iyer(University of Illinois at Urbana-Champaign)
</p>		  
<h4 class="talk-title">
<a href=""> 
	(48) TEE-KV: Secure Immutable Key-Value Store for Trusted Execution Environments
</a>
</h4>
<p class="course-meta" style="line-height:18px;">	
Atsushi Koshiba(Tokyo University of Agriculture and Technology); Ying Yan(Ant Financial); 
	Zhongxin Guo(Microsoft Research Asia); Mitaro Namiki(Tokyo University of Agriculture and Technology); 
	Lidong Zhou(Microsoft Research Asia)
</p>
<h4 class="talk-title">
<a href=""> 
	(49) Energy-aware and Machine Learning-based Resource Provisioning of In-Memory Analytics on Cloud
</a>
</h4>
<p class="course-meta" style="line-height:18px;">	
	Hosein Mohammadi Makrani(George Mason University); Hossein Sayadi(George Mason University); 
	Devang Motwani(George Mason University); Han Wang(George Mason University); Setareh Rafatirad(George Mason University);
	Houman Homayoun(George Mason University)
</p>
		  
		  
<h4 class="talk-title">
<a href=""> 
	(50) The Elasticity and Plasticity in Semi-Containerized Co-locating Cloud Workload: a View from Alibaba Trace
</a>
</h4>
<p class="course-meta" style="line-height:18px;">	
	Qixiao Liu(Shenzhen Institute of Advanced Technology, Chinese Academy of Science); 
	Zhibin Yu(Shenzhen Institute of Advanced Technology, Chinese Academy of Science)
</p>
<h4 class="talk-title">
<a href=""> 
	(51) libVNF: Building Virtual Network Functions Made Easy
</a>
</h4>
<p class="course-meta" style="line-height:18px;">	
	Priyanka Naik(Indian Institute of Technology Bombay); Akash Kanase(Indian Institute of Technology Bombay); 
	Trishal Patel(Indian Institute of Technology Bombay); Mythili Vutukuru(Indian Institute of Technology Bombay)
</p>
<h4 class="talk-title">
<a href=""> 
	(52) Henge: Intent-driven Multi-Tenant Stream Processing
</a>
</h4>
<p class="course-meta" style="line-height:18px;">	
	Faria Kalim(University of Illinois at Urbana Champaign); Le Xu(University of Illinois at Urbana Champaign); 
	Sharanya Bathey(Amazon.com Services, Inc.); Richa Meherwal(‎phData, Inc.); 
	Indranil Gupta(University of Illinois at Urbana Champaign)
</p>
<h4 class="talk-title">
<a href=""> 
	(53) Uncertainty Propagation in Data Processing Systems
</a>
</h4>
<p class="course-meta" style="line-height:18px;">	
	Ioannis Manousakis(Microsoft); Ricardo Bianchini(Microsoft Research); Inigo Goiri(Microsoft Research); 
	Sandro Rigo(Unicamp Brazil); Thu D. Nguyen(Rutgers University)
</p>
<h4 class="talk-title">
<a href=""> 
	(54) ApproxJoin: Approximate Distributed Joins
</a>
</h4>
<p class="course-meta" style="line-height:18px;">	
	Do Le Quoc(TU Dresden); Istemi Ekin Akkus(Nokia Bell Labs); Pramod Bhatotia(University of Edinburgh); 
	Spyros Blanas(The Ohio State University); Ruichuan Chen(Nokia Bell Labs); Christof Fetzer(TU Dresden); 
	Thorsten Strufe(TU Dresden)
</p>
<h4 class="talk-title">
<a href=""> 
	(55) Wharf: Sharing Docker Images in a Distributed File System
</a>
</h4>
<p class="course-meta" style="line-height:18px;">	
	Chao Zheng(University of Notre Dame); Lukas Rupprecht(IBM Research - Almaden); Vasily Tarasov(IBM Research - Almaden); 
	Douglas Thain(University of Notre Dame); Mohamed Mohamed(IBM Research - Almaden); Dimitrios Skourtis(IBM Research - Almaden); 
	Amit S. Warke(IBM Research - Almaden); Dean Hildebrand(Google)
</p>
<h4 class="talk-title">
<a href=""> 
	(56) Kairos: Preemptive Data Center Scheduling Without Runtime Estimates
</a>
</h4>
<p class="course-meta" style="line-height:18px;">	
	Pamela Delgado(EPFL); Diego Didona(EPFL); Florin Dinu(EPFL and The University of Sydney); 
	Willy Zwaenepoel(EPFL and The University of Sydney)
</p>
<h4 class="talk-title">
<a href=""> 
	(57) Debugging Distributed Systems with Why-Across-Time Provenance
</a>
</h4>
<p class="course-meta" style="line-height:18px;">	
	Michael Whittaker(UC Berkeley); Cristina Teodoropol(UC Berkeley); Peter Alvaro(UC Santa Cruz); 
	Joseph M. Hellerstein(UC Berkeley)
</p>
<h4 class="talk-title">
<a href=""> 
	(58) Parameter Hub: a Rack-Scale Parameter Server for Distributed Deep Neural Network Training
</a>
</h4>
<p class="course-meta" style="line-height:18px;">	
	Liang Luo(University of Washington); Jacob Nelson(Microsoft Research); Luis Ceze(University of Washington); 
	Amar Phanishayee(Microsoft Research); Arvind Krishnamurthy(University of Washington)
</p>
<h4 class="talk-title">
<a href=""> 
	(59) Weighted Sampling of Execution Traces: Capturing More Needles and Less Hay
</a>
</h4>
<p class="course-meta" style="line-height:18px;">	
	Pedro Las-Casas(Universidade Federal de Minas Gerais); Jonathan Mace(Brown University); 
	Dorgival Guedes(Universidade Federal de Minas Gerais); Rodrigo Fonseca(Brown University)
</p>
<h4 class="talk-title">
<a href=""> 
	(60) Multi-Query Optimization in Wide-Area Streaming Analytics
</a>
</h4>
<p class="course-meta" style="line-height:18px;">	
	Albert Jonathan(University of Minnesota); Abhishek Chandra(University of Minnesota); Jon Weissman(University of Minnesota)
</p>
<h4 class="talk-title">
<a href=""> 
	(61) I Heard It through the Firewall: Exploiting Cloud Management Services as an Information Leakage Channel
</a>
</h4>
<p class="course-meta" style="line-height:18px;">	
	Hyunwook Baek(University of Utah); Eric Eide(University of Utah); Robert Ricci(University of Utah); 
	Jacobus Van der Merwe(University of Utah)
</p>
<h4 class="talk-title">
<a href=""> 
	(62) DScope: Detecting Real-World Data Corruption Hang Bugs in Cloud Server Systems
</a>
</h4>
<p class="course-meta" style="line-height:18px;">	
	Ting Dai(North Carolina State University); Jingzhu He(North Carolina State University); 
	Xiaohui Gu(North Carolina State University); Shan Lu(University of Chicago); Peipei Wang(North Carolina State University)
</p>
<h4 class="talk-title">
<a href=""> 
	(63) Unikernels as Processes
</a>
</h4>
<p class="course-meta" style="line-height:18px;">	
	Dan Williams(IBM T.J. Watson Research Center); Ricardo Koller(IBM T.J. Watson Research Center); 
	Martin Lucina(robur.io / Center for the Cultivation of Technology); Nikhil Prakash(BITS Pilani)
</p>
<h4 class="talk-title">
<a href=""> 
	(64) Mutant: Balancing Storage Cost and Latency in LSM-Tree Data Stores
</a>
</h4>
<p class="course-meta" style="line-height:18px;">	
	Hobin Yoon(Georgia Institute of Technology); Juncheng Yang(Emory University); Sveinn Fannar Kristjansson(Spotify); 
	Steinn E. Sigurdarson(Takumi); Ymir Vigfusson(Emory & Reykjavik University); Ada Gavrilovska(Georgia Institute of Technology)
</p>
<h4 class="talk-title">
<a href=""> 
	(65) Cascade Mapping: Optimizing Memory Efficiency for Flash-based Key-value Caching
</a>
</h4>
<p class="course-meta" style="line-height:18px;">	
	Kefei Wang(Louisiana State University); Feng Chen(Louisiana State University)
</p>
<h4 class="talk-title">
<a href=""> 
	(66) DC-DRF: Adaptive Multi-Resource Sharing at Public Cloud Scale
</a>
</h4>
<p class="course-meta" style="line-height:18px;">	
	Ian A. Kash(University of Illinois at Chicago); Greg O'Shea(Microsoft Research); Stavros Volos(Microsoft Research)
</p>		  
          </div><!-- /.section-content -->
        </section><!-- /.main-content -->
      </div><!-- /.col-md-6 -->

      <div class="col-md-3">
        {% include latest-news.html %}
      </div><!-- /.col-md-3 -->

    </div><!-- /.row -->
  </div><!-- /.container -->
</div>
<!-- end Content -->
