---
layout: default
---

{% include slider-cf-posters.html %}

<!-- Content -->
<div class="block">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <section class="events small" id="events-small">
          <header>
            <h2>Important Dates</h2>
          </header>
	    <div class="section-content">
            <article class="event nearest">
              <figure class="date">
                <div class="month">sep</div>
                <div class="day">20</div>
              </figure>
              <aside>
                <header>
                  Poster Submission Deadline at 17:00 PST
                </header>
              </aside>
            </article><!-- /article -->
            <article class="event nearest-second">
              <figure class="date">
                <div class="month">sep</div>
                <div class="day">27</div>
              </figure>
              <aside>
                <header>
                  Poster Acceptance Notification
                </header>
              </aside>
            </article><!-- /article -->
    <article class="event nearest">
              <figure class="date">
                <div class="month">oct</div>
                <div class="day">7</div>
              </figure>
              <aside>
                <header>
                  Poster Camera-ready Deadline at 17:00 PDT
                </header>
              </aside>
            </article><!-- /article -->
            <br>
          </div><!-- /.section-content -->
        </section><!-- /.events-small -->

        <section class="events small" id="events-small">
          <header>
            <h2>Links</h2>
          </header>
          <div class="section-content">
            <ul class="list-links">
              <li><h4><a href="#submission">Poster submission guidelines</a></h4></li>
              <li><h4><a href="papers.html">Call for papers</a></h4></li>
	     <li><h4><a href="#camera">Accepted Posters Guidelines</a></h4></li>
            </ul>
          </div><!-- /.section-content -->
        </section><!-- /.events-small -->
      </div><!-- /.col-md-3 -->

      <div class="col-md-6">
        <section id="main-content">
          <header>
            <h1>Call for posters</h1>
          </header>
          <div class="section-content">
            <p>
		    The SoCC poster sessions showcase works-in-progress in an informal setting. 
		    Topics of interest are the same as the research topics in the SoCC conference <a href="https://acmsocc.github.io/2019/papers.html">Call for papers</a>.
		    A single page description should be submitted to the HotCRP site <b>no later than 
		    Sept 20, 2019 at 17:00 Pacific Standard Time</b>. The SoCC 2019 poster committee will review all proposals and 
		    <b>notifications will be sent out by Sept 27, 2019</b>. 

			<br><br>
		Accepted proposals will be published in the conference proceedings. While anyone can submit a proposal, preference will be given to posters where the primary contribution is from one or more students or from an industry/start-up organization. Students must present student posters at the conference. An award will be given to the best overall student and industry/start-up poster, judged by attendees during the conference. Submissions to the conference paper track are also automatically considered for a poster, so there is no need to submit a separate poster proposal.


			<a id="why"><h2>Why should you submit a poster?</h2></a>
			<p>Presenting a poster is a great opportunity, especially for students, to obtain interesting and valuable feedback on ongoing research from a knowledgeable crowd at the conference. Moreover, accepted proposals will be published in the conference proceedings in citable form. 
</p>

			<a id="what"><h2>What is a poster?</h2></a>
			<p>We define a poster to be A0 paper size in portrait mode (841x1189mm), to which you can affix visually appealing material that describes your research. 
				You should prepare the best material (visually appealing and succinct) that effectively communicates your research problem, techniques, results, and what is novel and important about your work. More detailed guidelines are as follows: 
			<ul>
				<li><p>Posters should be 841x1189mm (A0 paper size). Posters will be displayed in portrait orientation.</p></li>
				<li><p>There is no template for the poster. You can use your own.</p></li>
				<li><p>The title of the poster should appear at the top and should have a 50pt+ font size, depending on the length of the title. Do not use all uppercase letters for the title or body of the poster. On the left of the Title indicate your Poster ID. Below the title put the author names and affiliations. Mark the name of the presenting author as *. </p> </li>
<li><p>The smallest text on your poster should be at least 24pt. Use a sans-serif font (e.g. "Helvetica" or "Calibri") to make the print easier to read from a distance. Don't justify blocks of text on both sides.</p></li>
<li><p>The flow of your poster should be from the top left to the bottom right. </p></li>
<li><p>We encourage you to make your poster as self-explanatory as possible and include your main result in 32pt+ font to save your efforts for technical discussions.</p></li>
<li><p>Use pictures, diagrams and figures rather than text wherever possible. Where possible, express points as bullets rather than paragraphed text.</p></li>

		  </ul>
		  </p>
						
			<a id="submission"><h2>What to submit</h2></a>

		<p> Note that you do not submit such a large-format image; only a one page abstract (including references) describing in text what the poster would present. The abstract should clearly state: (a) the problem being addressed, (b) that makes this problem interesting, important, and difficult, (c) your approach to the problem, and (d) the key contribution. In the final version of the abstract, we encourage (not require) you to include a URL providing additional information about your work to the attendees.</p>
		<p>You must submit a one-page abstract (including references) in PDF format that describes your work. Prepare your abstract using ACM conference style, 10pt font with two columns, 0.75 inch margins and 1/3 inch space between columns. Word documents will not be accepted. Accepted proposals will be published in the conference proceedings. 
</p>
	
		<p>Submissions are single blind, so please include authors' names and affiliation. When submitting, indicate if the submission should be considered for the student/industry best-poster award.
</p>

			<a id="submit_site"><h2>Where to submit</h2></a>
            <p>
			Please submit your one-page poster abstracts to the submission site at <a href="https://socc19posters.hotcrp.com/">https://socc19posters.hotcrp.com/</a>. 
  
            </p>


			
				
	 <a id="camera"><h2>Accepted Posters Guidelines</h2></a>
	   <p>The lead author needs to complete the copyright form online. Do this promptly: this step blocks the rest. 
		  It provides the DOI, rights management text, and bibliographic strip that must be in the paper. 
		   The permission and DOI info are on page 2 of the copyright document. 
		   If you do not receive an email from ACM, inform Sumita Barahmand (<a href="mailto:sumitab@microsoft.com" target="_top" style="text-decoration:underline;color:red">sumitab@microsoft.com</a>). 
		   It is an automatic email, so check your spam folder and set the spam settings to allow emails from "<a href="mailto:rightsreview@acm.org" target="_top" style="text-decoration:underline;color:red">rightsreview@acm.org</a>".
 </p>	
	
	      <p>At least one of the authors must register for the conference to present the poster, so take advantage of the early registration discount. </p> 
				<p><b>Camera-ready instructions</b> </p>

		      <ul>
			<li><p> Format the paper using the acmart.cls file available in SoCC-acmart-master.zip. Example latex files are socc2019-sample-sigconf.tex and socc2019-sample-base.bib. Fonts used in the template cannot be substituted; margin adjustments are not allowed. Note the template uses 9pt text. </p></li>
<li><p> Add the correct rights management statement and bibliographic strip on the bottom of the first page, left column. You will receive these details after completing your copyright form, after which you may need to replace the one in the template with the one from ACM.</p></li>
<li><p> Use only Type 1 fonts (scalable), not Type 3 (bitmapped), and embed all fonts within the PDF. ACM has documentation on how to embed fonts correctly. It refers to the distiller settings file that can be found here. </p></li>
			      <li>Do not include page numbers. </p></li>
<li><p> Apply keywords and ACM Computing Classification categories and terms. For the classification of your paper follow the scheme here.</p></li>
<li><p> ACM requires titles and abstracts be submitted in English; author(s) (including affiliations) submitted using the Roman Alphabet as opposed to Cyrillic, Chinese, or Arabic.</p></li>
<li><p> Follow the page limits in the submission: 1 page including the title page, abstract, appendices and references.</p></li>
<li><p> Use the paper-submission site to upload your final camera-ready materials. This includes the final PDF file, and an archive of your source files, which is a new ACM requirement.</p></li>
			      
		      </ul>
				<a id="dates"><h2>Important dates</h2></a>
			<ul class="topics-list"><ul type="topics-list">
            <li> <b style="color:red"> Submission deadline: Sept 20, 2019 at 17:00 PST
</b></li>
            <li> <b style="color:red">Acceptance notification: Sept 27, 2019
</b></li>
				
	 <li> <b style="color:red">Camera-ready deadline: Oct 7, 2019 at 17:00 PDT
</b></li>
            </ul>
				
			<a id="submit"><h2>Questions?</h2></a>
            <p>
              Email any questions you have to the poster chairs 
		    <a href="mailto:neeraja@cs.stanford.edu" target="_top" style="text-decoration:underline;color:red">Neeraja J. Yadwadkar</a> 
		    and <a href="mailto:nbhutani@umich.edu" target="_top" style="text-decoration:underline;color:red">Nikita Bhutani</a>.
            </p>


          </div><!-- /.section-content -->
        </section><!-- /.main-content -->
      </div><!-- /.col-md-6 -->

      <div class="col-md-3">
        {% include latest-news.html %}
      </div><!-- /.col-md-3 -->

    </div><!-- /.row -->
  </div><!-- /.container -->
</div>
<!-- end Content -->
