---
layout: default
---

{% include slider-registration.html %}

<!-- Content -->
<div class="block">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <section class="events small" id="events-small">
          <header>
            <h2>Dates</h2>
          </header>
          <div class="section-content">
		  
            <article class="event nearest">
              <figure class="date">
                <div class="month">oct</div>
                <div class="day">7</div>
              </figure>
              <aside>
                <header>                
			Early registration deadline
                </header>
              </aside>
            </article>
		  <!--
			<br>
            <article class="event nearest-second">
              <figure class="date">
                <div class="month">Sept</div>
                <div class="day">20</div>
              </figure>
              <aside>
                <header>
                  Late registration deadline
                </header>
              </aside>
            </article>
	     -->		  
          </div>
        </section><!-- /.events-small -->

       <br/>
      </div><!-- /.col-md-3 -->

      <div class="col-md-6">
        <section id="main-content">
          <header>
            <h1>Registration</h1>
          </header>	
		
          <div class="section-content">
          
          <article>
		  
		   <p>
		      
		To promote community building, registration for SOCC’19 takes the form of packages that include the conference with lodging and food. The early-bird rates for those packages are heavily discounted. Because we understand that some people may not be able to stay at the conference, we also offer conference registration without lodging.
		  </p>
		     
		<p>      
		The prices listed for all packages include ALL taxes and fees.                 
              </p>
		  
		  <h3>Student Package </h3>  
		  
		  <p> Full time students are eligible for the student package, which includes the conference registration, lodging in a shared room for three nights (we will help with roommate assignments), all meals, all taxes and all fees.
		  </p>
		  
		  <p>
			  <ul>
				  <li> <p><b>Early Registration</b>: $875 ($475 for the conference, charged at registration, and $400 lodging charged at checkout)
					  </p></li>
				  <li> <p><b> Late Registration</b>:  $1,075 ($675 for the conference, charged at registration, and $400 lodging charged at checkout)
					  </p></li>
		  </ul>
		  </p>
		
		  <h3>ACM/SIG Member Packages </h3>
		  <p>ACM/SIG members are eligible for member packages, which include the conference registration, lodging in a shared or individual room for three nights, all meals, all taxes and all fees.
 </p>
		  <h4> Individual Room </h4>
		  <ul>
			  <li> <p> <b> Early Registration </b>: $1,287 ($500 for the conference, charged at registration, and $787 lodging charged at checkout) </p></li>
			  <li> <p> <b> Late Registration </b>:  $1,487 ($700 for the conference, charged at registration, and $787 lodging charged at checkout) </p></li>
		  </ul>
		  <h4> Shared Room </h4>
		  <ul>
			  <li><p> <b> Early Registration </b>: $1,000 ($600 for the conference, charged at registration, and $400 lodging charged at checkout) </p></li>
			  <li> <p><b>  Late Registration </b>:  $1,200 ($800 for the conference, charged at registration, and $400 lodging charged at checkout)</p> </li>
		  </ul>
		  
		  <h4> Non-ACM Member Packages</h4>
		  
		  <p> Everyone is eligible for the non-member packages, which include the conference registration, lodging in a shared or individual room for three nights, all meals, all taxes and all fees.
</p>
		  
		    <h4> Individual Room </h4>
		  <ul>
			  <li> <p> <b> Early Registration </b>: $1,387 ($600 for the conference, charged at registration, and $787 lodging charged at checkout) </p></li>
			  <li> <p> <b> Late Registration </b>:  $1,587 ($800 for the conference, charged at registration, and $787 lodging charged at checkout)
 </p></li>
		  </ul>
		  <h4> Shared Room </h4>
		  <ul>
			  <li><p> <b> Early Registration </b>: $1,100 ($700 for the conference, charged at registration, and $400 lodging charged at checkout)
 </p></li>
			  <li> <p><b>  Late Registration </b>:    $1,300 ($900 for the conference, charged at registration, and $400 lodging charged at checkout)
</p> </li>
		  </ul>
              <h3>Fees</h3>
             

              <div class="table-responsive">
		    <table class="table table-hover course-list-table">
			<thead>
			<tr>
			    <th>Type</th>
			    <th>Early registration</th>
			    <th>Late/Onsite registration</th>
			</tr>
			</thead>
			<tbody>
			<tr>
			    <th>Student</th>
			    <th>$ 495</th>
			    <th>$ 540</th>
			</tr>
			<tr>
			    <th>ACM/SIG Member</th>
			    <th>$ 790</th>
			    <th>$ 940</th>
			</tr>
			<tr>
			    <th>Non-ACM/SIG Member</th>
			    <th>$ 950</th>
			    <th>$ 1,100</th>
			</tr>
			</tbody>
		    </table>
			
			<p>Attendees can purchase extra banquet tickets at $80.00 each.</p>
		</div>

             </article>
			<div>
               <a class="btn btn-large" 
		  href='https://www.regonline.com/registration/Checkin.aspx?EventID=2524024&startnewreg=1'
		  target='_blank' 
		  title='ACM Symposium on Cloud Computing 2018 registration'><span id='regLink'>Register Now!</span>
		</a>
             </div>
              <h3>Student scholarships</h3>
              <p>
                Thanks to generous donations from SIGMOD, SIGOPS, and NSF, SoCC'18 will offer scholarships to assist students attending the conference.<br>
		Visit the
                <a href="scholarships.html" style="text-decoration:underline;">student scholarship page</a> for more information about how to apply.  Deadline is September 1.
              </p>
              <h3>Diversity Grants</h3>
	  <p>
	        As part of our ongoing commitment to encourage
	        diversity in advanced computing, we are pleased to
	        offer Diversity Grants to support computer scientists
	        interested in attending SoCC'18.  All computer
	        scientists from academia or industry who identify as
	        female or a member of another underrepresented
	        community are encouraged to apply.  Awardees will
	        receive funds to apply toward travel and/or
	        accomodation costs (including child care) at the
	        conference.  These Grants are offered thanks to generous
		support from SIGOPS and NSF.<br>
		Visit the
                <a href="diversity-grants.html" style="text-decoration:underline;">diversity grants page</a> for more information about how to apply.  Deadline is September 4.
		</p>
	  <h3>Visa support letters</h3>
              <p>
                If you need help obtaining a visa, you can find more information in the
                <a href="visa.html" style="text-decoration:underline;">visa support letters page</a>.
              </p>

          </div><!-- /.section-content -->
        </section><!-- /.main-content -->
      </div><!-- /.col-md-6 -->

      <div class="col-md-3">
        {% include latest-news.html %}
      </div><!-- /.col-md-3 -->

    </div><!-- /.row -->
  </div><!-- /.container -->
</div>
<!-- end Content -->
