---
layout: default
---

{% include slider-schedule.html %}

<!-- Content -->
<div class="block">
<div class="container">
<div class="row">
  <div class="col-md-9">
    <section id="main-content">
      <div class="section-content">
        <h2>Schedule</h2>
	       <h3><a href="https://acmsocc.github.io/2019/accepted-papers.html">List of accepted papers>/a></h3>
		<!--h4>All conference technical sessions and keynotes will take place in Salon A-C of the Grand Ballroom.</h4-->		
        {% include session.html date="Wednesday, November 20th" key="day0" showlinks="false" %}
        {% include session.html date="Thursday, November 21st" key="day1" showlinks="true" %}
        {% include session.html date="Friday, November 22th" key="day2" showlinks="true" %}
        {% include session.html date="Saturday, November 23rd" key="day3" showlinks="true" %}
	      
	       <a id="goldsponsors"><h2>Platinum sponsors</h2></a>
              {% include platinum-sponsors.html %}
            <br><br>
  <a id="exclusivesponsors"><h2>Exclusive sponsor (Welcome Reception)</h2></a>		  
              {% include exclusive-sponsors.html %}
            <br>
            <a id="silversponsors"><h2>Silver sponsors</h2></a> <br> <br>
              {% include silver-sponsors.html %} 
            <br>  <br>
            <a id="bronzesponsors"><h2>Bronze sponsors</h2></a> <br> <br>
              {% include bronze-sponsors.html %}
            <br> <br>   
	   <a id="diversitysponsors"><h2>Diversity sponsors</h2></a>
              {% include diversity-sponsors.html %}
	   <br> <br>
	    <a id="exclusivesponsors"><h2>Exclusive sponsor (Welcome Reception)</h2></a>		  
              {% include exclusive-sponsors.html %}
            <br>		
	   <a id="scholarshipsponsors"><h2>Student travel grant sponsors</h2></a>
              {% include student-support.html %}
      </div><!-- /.section-content -->
    </section><!-- /.main-content -->
  </div><!-- /.col-md-9 -->
              
  <div class="col-md-3">
    {% include latest-news.html %}
  </div><!-- /.col-md-3 -->

</div><!-- /.row -->
</div><!-- /.container -->
</div>
<!-- end Content -->
