---
layout: default
---

{% include slider-scholarships.html %}

<!-- Content -->
<div class="block">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <section class="events small" id="events-small">
          <header>
            <h2>Dates</h2>
          </header>
          <div class="section-content">
            <article class="event nearest">
              <figure class="date">
                <div class="month">sep</div>
                <div class="day">16</div>
              </figure>
              <aside>
                <header>
                  Submission deadline
                </header>
              </aside>
            </article>
            <br>
            <article class="event nearest-second">
              <figure class="date">
                <div class="month">sep</div>
                <div class="day">30</div>
              </figure>
              <aside>
                <header>
                  Notification of acceptance
                </header>
              </aside>
            </article>
			<br>
          </div>
        </section>

<!--
        <section class="events small" id="events-small">
          <header>
            <h2>Links</h2>
          </header>
          <div class="section-content">
            <ul class="list-links">
              <li><h4><a href="https://goo.gl/forms/v1BDWsaHGBG7Swyf1">Student Form</a></h4></li>
              <li><h4><a href="https://goo.gl/forms/PSAaqh6AEWFPiE0F2">Advisor Form</a></h4></li>
            </ul>
          </div><!-- /.section-content >
        </section--><!-- /.events-small -->
      </div><!-- /.col-md-3 -->

      <div class="col-md-6">
        <section id="main-content">
          <header>
            <h1>Student scholarships</h1>
          </header>
          <div class="section-content">

          <p> The ACM Symposium on Cloud Computing 2019 (SoCC '19) is the tenth in an established series of symposia 
		  that bring together researchers, developers, users, and practitioners interested in cloud computing. 
		  SoCC offers multiple opportunities for students to share their knowledge, experience, and research 
		  works with internationally recognized researchers from both academia and industry.</p>

	  <p> To this end, the SoCC planning committee, with the support of the National Science Fountation, ACM SIGMOD, 
		  and ACM SIGOPS, is pleased to offer travel scholarships to help students defray the costs of attending 
		  the program.  Priority will be given to students with an accepted paper at SoCC, as well as students 
		  from groups historically underrepresented at the conference.
	  </p>

	  

    <p>Applicants should be full time students (undergraduate or graduate) and will be expected to attend the full 
	    conference.  Awardees will receive a partial reimbursement for conference registration and travel expenses; 
	    The expected award is $600 to students traveling from within the US and $700 to students coming from outside 
	    the US. Priority will be given to a student with an accepted paper or poster.</p>

	  <p style="color:red;">September 16, 2019 (11:59:59pm PST) -  Scholarship Applications Due
	  <br> September 30, 2019  -  Award Notification <br></p>

            <a id="howtoapply"><h2>Application Process </h2></a>

            <p> Submission website: <a href="https://socc19-student-scholarships.hotcrp.com/"> https://socc19-student-scholarships.hotcrp.com/</a>
	    </p>
		  
            <p>
               Submit in one PDF file the following:
            </p>

            <p>
              <ul>
                <li><p>A cover letter that includes the student's full name, school affiliation, and contact information, and the 
			advisor's full name and contact information (if applicable).</p></li>
                <li><p> A 1 page statement from the student outlining her or his research area and how it relates to SoCC.</p></li>
		<li><p> Student's CV (max 2 pages). </p></li>
		<li><p>  A letter of support from the student's advisor confirming the student's academic standing, 
			explaining how the student would benefit from conference attendance, and outlining other resources 
			that will be provided to the student for attending SoCC.</p></li>
              </ul>
            </p>
          
          <a id="selectioncommittee"><h2>Selection Committee </h2></a>

	   
         

          </div><!-- /.section-content -->
        </section><!-- /.main-content -->
      </div><!-- /.col-md-6 -->

      
      <div class="col-md-3">
	{% include latest-news.html %}
      </div><!-- /.col-md-3 -->

    </div><!-- /.row -->
  </div><!-- /.container -->
</div>
<!-- end Content -->
