---
layout: default
---

{% include slider-scholarships.html %}

<!-- Content -->
<div class="block">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <section class="events small" id="events-small">
          <header>
            <h2>Dates</h2>
          </header>
          <div class="section-content">
            <article class="event nearest">
              <figure class="date">
                <div class="month">oct</div>
                <div class="day">1</div>
              </figure>
              <aside>
                <header>
                  Submission deadline  (extended)
                </header>
              </aside>
            </article>
            <br>
            <article class="event nearest-second">
              <figure class="date">
                <div class="month">oct</div>
                <div class="day">4</div>
              </figure>
              <aside>
                <header>
                  Notification of acceptance
                </header>
              </aside>
            </article>
			<br>
          </div>
        </section>
      </div><!-- /.col-md-3 -->

      <div class="col-md-6">
        <section id="main-content">
          <header>
            <h1>Speaker instructions</h1>
          </header>
          <div class="section-content">

          <p> As part of our efforts at fostering diversity and inclusiveness, we request you to adhere to 
            the following guidelines on how to prepare your conference presentation. 
</p>

	  <p> <b>Design for accessibility</b>:  Color and hearing perception varies from person to person depending on 
      several factors such as age, <a href="https://nei.nih.gov/health/color_blindness/facts_about"> color blindness</a>, etc. 
      To ensure that the contents of your paper are accessible to all, consider taking the following steps:
	  </p>
		  <ul>
			  <li><p>Use patterns, symbols and textures to emphasize and contrast visual elements in graphs and figures, rather than using colors alone.
</p></li>
			  <li><p>Use a color-blind friendly palette that is designed with accessibility for visually impaired people. Avoid bad color combinations such as green/red or blue/purple.
				  </p></li>
			  <li><p>Use close captioning (real-time speech to text) in the presentation software of your 
				  choice (e.g., <a href="https://support.office.com/en-us/article/present-with-real-time-automatic-captions-or-subtitles-in-powerpoint-68d20e49-aec3-456a-939d-34a79e8ddd5f"> MS powerpoint </a> 
				  and <a href="https://support.google.com/docs/answer/9109474?hl"> Google</a> slides). 
				  Also please make sure you look towards the audience while presenting your work.
</p></li>
		  </ul>

	  

    <p>Applicants should be full time students (undergraduate or graduate) and will be expected to attend the full 
	    conference.  Awardees will receive a partial reimbursement for conference registration and travel expenses; 
	    The expected award is $600 to students traveling from within the US and $700 to students coming from outside 
	    the US. Priority will be given to a student with an accepted paper or poster.</p>

		  <p style="color:red;"><strike>September 19th </strike> <strike>September 23rd </strike> October 1st (11:59:59pm PST) -  Scholarship Applications Due
			  <br><strike>September 30</strike> October 4th,  2019  -  Award Notification <br></p>

            <a id="howtoapply"><h2>Application Process </h2></a>

            <p> Submission website: <a href="https://socc19-student-scholarships.hotcrp.com/"> https://socc19-student-scholarships.hotcrp.com/</a>
	    </p>
		  
            <p>
               Submit in one PDF file the following:
            </p>

            <p>
              <ul>
                <li><p>A cover letter that includes the student's full name, school affiliation, and contact information, and the 
			advisor's full name and contact information (if applicable).</p></li>
                <li><p> A 1 page statement from the student outlining her or his research area and how it relates to SoCC.</p></li>
		<li><p> Student's CV (max 2 pages). </p></li>
		<li><p>  A letter of support from the student's advisor confirming the student's academic standing, 
			explaining how the student would benefit from conference attendance, and outlining other resources 
			that will be provided to the student for attending SoCC.</p></li>
              </ul>
            </p>
          
          <a id="selectioncommittee"><h2>Selection Committee </h2></a>

	   <p>
              <ul>
                <li><p> Oliver Kennedy, The University at Buffalo</p></li>
		<li><p> Faisal Nawab, The University of California, Santa Cruz. </p></li>
              </ul>
            </p>
         

          </div><!-- /.section-content -->
        </section><!-- /.main-content -->
      </div><!-- /.col-md-6 -->

      
      <div class="col-md-3">
	{% include latest-news.html %}
      </div><!-- /.col-md-3 -->

    </div><!-- /.row -->
  </div><!-- /.container -->
</div>
<!-- end Content -->
