---
layout: default
---

{% include slider-speaker-instructions.html %}

<!-- Content -->
<div class="block">
  <div class="container">
    <div class="row">


      <div class="col-md-6">
        <section id="main-content">
          <header>
            <h1>Speaker instructions</h1>
          </header>
          <div class="section-content">

          <p> As part of our efforts at fostering diversity and inclusiveness, we request you to adhere to 
            the following guidelines on how to prepare your conference presentation. 
</p>

	  <p> <b>Design for accessibility</b>:  Color and hearing perception varies from person to person depending on 
      several factors such as age, <a href="https://nei.nih.gov/health/color_blindness/facts_about"> color blindness</a>, etc. 
      To ensure that the contents of your paper are accessible to all, consider taking the following steps:
	  </p>
		  <ul>
			  <li><p>Use patterns, symbols and textures to emphasize and contrast visual elements in graphs and figures, rather than using colors alone.
</p></li>
			  <li><p>Use a color-blind friendly palette that is designed with accessibility for visually impaired people. Avoid bad color combinations such as green/red or blue/purple.
				  </p></li>
			  <li><p>Use close captioning (real-time speech to text) in the presentation software of your 
				  choice (e.g., <a href="https://support.office.com/en-us/article/present-with-real-time-automatic-captions-or-subtitles-in-powerpoint-68d20e49-aec3-456a-939d-34a79e8ddd5f"> MS powerpoint </a> 
				  and <a href="https://support.google.com/docs/answer/9109474?hl"> Google</a> slides). 
				  Also please make sure you look towards the audience while presenting your work.
</p></li>
		  </ul>

		   <p> <b>Use inclusive examples</b>:  Fine technical writing makes liberal use of examples to elucidate 
			   complex ideas. But they also offer an opportunity to promote inclusiveness by challenging 
			   common implicit assumptions and biases.
			
	  </p>
		  
		  <ul>
			  <li><p>Avoid the use of male pronouns (“he”, “his”) in favor of female (“she”, “her”) or gender-neutral (“they”, “their”) ones.
</p></li>
			  <li><p>Pick names and icons associated with underrepresented minorities in our community, such as women, Latinos, etc.</p></li>
			  <li><p>Refrain from assuming binary gender. For instance, populate a “gender” column in a table using more than just “male” and “female” values.</p></li>
			  <li><p>Be mindful of the diverse backgrounds people have: not everyone has two parents, not every married man has a wife, etc.</p></li>
			
		  </ul>

	  
          </div><!-- /.section-content -->
        </section><!-- /.main-content -->
      </div><!-- /.col-md-6 -->

      
      <div class="col-md-3">
	{% include latest-news.html %}
      </div><!-- /.col-md-3 -->

    </div><!-- /.row -->
  </div><!-- /.container -->
</div>
<!-- end Content -->
