<div class="row">
  <div class="col-md-6" style="padding-left:0; padding-right:0;">
     <a href="https://cloud.google.com/" target="_blank" rel="nofollow"><img alt="https://cloud.google.com/" border="0" src="assets/img/cloud_lockup_vert.jpg" style="border:0px currentColor" width="150" /></a>
  </div>
  <br> <br>
  <div class="col-md-6" style="padding-left:0; padding-right:0;">
     <a href="https://aws.amazon.com/" target="_blank" rel="nofollow"><img alt="https://aws.amazon.com/" border="0" src="assets/img/logos-aws2.png" style="border:0px currentColor" width="100" /></a>
  </div>
  </div>
<div class="row">
  <br><br>
   <div class="col-md-6" style="padding-left:5; padding-right:0;">
     <a href="https://www.microsoft.com/" target="_blank" rel="nofollow"><img alt="https://www.microsoft.com/" border="0" src="assets/img/logos-Microsoft.jpg" style="border:0px currentColor" width="130" /></a>
  </div>  
</div>
