
<div class="row">
  <div class="col-md-6" style="padding-left:0; padding-right:0;">
     <a href="http://www.vmware.com" target="_blank" rel="nofollow"><img alt="www.vmware.com" border="0" 
src="assets/img/logos-VMware.png" style="border:0px currentColor" width="100" /></a>
  </div>
  <div class="col-md-6" style="padding-left:0; padding-right:0;">
     <a href="https://www.cockroachlabs.com" target="_blank" rel="nofollow"><img alt="https://www.cockroachlabs.com" border="0" 
src="assets/img/logo-cockroach.jpg" style="border:0px currentColor" width="140" /></a>
  </div>
  <br>
  <br>
  <br>
</div>

