<!-- Slider -->
<div id="slider">
  <div class="container">
    <div class="slider-wrapper">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <div class="row">
           <div class="image-chaminade">
              <div class="slide">
             <div class=figure>
              <p><img src="assets/img/Chaminade2.jpg" alt="" style="width:300px;height:250px;"></div></p>
             <p><i><small>Photo courtesy of Chaminade Resort & Spa</small></i></p> 
             </div><!-- /.slide -->
            </div><!-- /.image-chaminade -->
          </div><!-- /.row -->
        </div><!-- /.col-md-6 -->
        <div class="col-md-6 col-sm-12">
          <header>
            <h2>Accepted papers</h2>
          </header>
        </div><!-- /.col-md-6 -->

      </div><!-- /.row -->
    </div><!-- /.slider-wrapper -->
  </div><!-- /.container -->
</div>
<!-- end Slider -->
