<!-- Slider -->
<div id="slider">
  <div class="container">
    <div class="slider-wrapper">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <div class="row">
            <div class="image-chaminade">
              <div class="slide">
                <!--div class="image-chaminade"><img src="assets/img/Chaminade.JPG" alt="" style="width:500px;height:300px;"></div-->
                 <div class="image-chaminade"><img src="assets/img/socc-logo.png" alt="" style="width:500px;height:300px;"></div>
              </div><!-- /.slide -->
            </div><!-- /.image-chaminade -->
          </div><!-- /.row -->
        </div><!-- /.col-md-6 -->
        <div class="col-md-6 col-sm-12">
          <header>
            <h2>ACM Symposium on Cloud Computing 2019</h2>
            <h3 style="color:white">Chaminade, Santa Cruz, California</h3>
            <h3 style="color:white">November 20-23, 2019</h3>
          </header>
        </div><!-- /.col-md-6 -->

      </div><!-- /.row -->
    </div><!-- /.slider-wrapper -->
  </div><!-- /.container -->
</div>
<!-- end Slider -->
