<!-- Slider -->
<div id="slider">
  <div class="container">
    <div class="slider-wrapper">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <div class="row">
            <div class="image-chaminade">
              <div class="slide">
                <div class=figure>
              <p><img src="assets/img/hyatt.jpg" alt="" style="width:300px;"></div></p>
             <p><i><small>Photo courtesy of Hyatt</small></i></p> 
              </div><!-- /.slide -->
            </div><!-- /.image-chaminade -->
          </div><!-- /.row -->
        </div><!-- /.col-md-6 -->
        <div class="col-md-6 col-sm-12">
          <header>
            <h2>ACM Symposium on Cloud Computing 2020</h2>
	    <h3 style="color:white">Hyatt Regency Lake Washington at Seattle's Southport</h3>
	    <h3 style="color:white">Renton, WA</h3>
            <h3 style="color:white">October 19-21, 2020</h3>
          </header>
        </div><!-- /.col-md-6 -->

      </div><!-- /.row -->
    </div><!-- /.slider-wrapper -->
  </div><!-- /.container -->
</div>
<!-- end Slider -->
